[2020-10-10 13:27] RichardPK opened #19 "Translations not approved and translations missing"
The Crowdin translation PR: https://github.com/pancakeswap/pancake-frontend/pull/16 implements all changes currently within Crowdin.

**Issues**

- [x] All translations in the `origin-UI` file need to be approved again, currently there are no approved translations for any language (meaning fallbacks will be used across the site).
- [x] The source string for 1 CAKE = 1 SYRUP is wrong @Chef-Chungus

[2020-11-30 11:40] tech3jp opened #515 "Pool and Farming Pages Bugs"
## Situation
Android10
Trust Wallet ver1.19.21
DApps browser in Trust Wallet

## Bug details
https://i.imgur.com/iwBYcNO.png
This bug occurs when the Pool page (or Farming) is continuously displayed for more than 30 seconds under the above conditions.
The token display in stakes changes to zero. Or it becomes NaN.
Reloading does not fix it.

## How to resolve it.
Forced to change the IP
For exampl

[2021-01-07 01:18] Chef-Chungus opened #265 "Unable to view lottery tickets from past draws"
![image](https://user-images.githubusercontent.com/71833681/103838841-710d0e00-50d1-11eb-8c95-6f924197e198.png)

When on the past draws section of the lottery and you open a lottery which you previously participated in, your tickets aren't available to view.

[2021-01-18 01:32] Chef-Chungus opened #310 "No 'approve' state on the dashboard lottery modal."
https://user-images.githubusercontent.com/71833681/104863019-2fede700-5978-11eb-9459-0d1abc037832.mov

**Bug Description**
On the dashboard there is no approve state, so a user is unable to approve contract interaction and when clicking "buy tickets" they are unable to buy tickets.

**Steps to Reproduce**

1. Go to dashboard on a new wallet
2. Click on buy tickets

**Expected Behavior**
Buy ticket

[2021-01-18 13:44] RabbitDoge opened #317 "Add a message when using the wrong network"
Display an error message when a user tries to connect from a different network than BSC.

[2021-01-18 13:45] RabbitDoge opened #318 "Wallet connect connection"
A lot of users complain that wallet connect doesn't work

[2021-01-18 13:48] RabbitDoge opened #319 "Mew wallet integration"
Waiting for this PR to be merged https://github.com/NoahZinsmeister/web3-react/pull/93

[2021-01-18 18:08] jonasman opened #320 "APY vs APR"
Pankake Syrup pooling used the word APY everywhere but technically it is APR as we can read here:
https://www.investopedia.com/personal-finance/apr-apy-bank-hopes-cant-tell-difference/

I can easily change the code to replace APY in Syrup pools with APR if needed

[2021-01-27 03:34] Chef-Chungus commented on #320
resolved with https://github.com/pancakeswap/pancake-frontend/pull/347

[2021-01-27 03:34] #320 closed

[2021-01-29 07:08] Chef-Chungus opened #360 "Farms Table QA"
QA result of: https://github.com/pancakeswap/pancake-frontend/pull/336

![image1](https://user-images.githubusercontent.com/71833681/106242431-06bc3900-624b-11eb-8e05-511235230f39.png)
- [x] When entering “a” in the search box, the page crashes with the following errors.

![image2](https://user-images.githubusercontent.com/71833681/106242435-07ed6600-624b-11eb-98ba-5cd8e8f31b9a.png)
- [x] There sh

[2021-02-02 01:58] Chef-Chungus opened #372 "QA: Web3 React integration"
Regarding: https://github.com/pancakeswap/pancake-frontend/pull/346

## MetaMask
**FARMS**
- [ ] Modal doesn't close when funds are deposited despite transaction being confirmed, stays in "Pending confirmation" state.
- [ ] Modal doesn't close when funds are withdrawn despite transaction being confirmed, stays in "Pending confirmation" state.
- [x] Harvest OK
- [x] Deposit OK
- [x] Withdraw OK
- [

[2021-02-02 22:25] wivern-co-uk opened #375 "Feat: ability to filter deposited farms"
**Is your feature request related to a problem? Please describe.**
As a pancakeswap user, time to time, I want to review how my staked LP tokens are doing. So I'm navigating to https://pancakeswap.finance/farms and now have to find few deposited farms out of the whole list of active farms. (Currently 57 items). It's a lot of scrolling and distraction.

**Describe the solution you'd like**
Add a `s

[2021-02-08 13:14] heyimbrucelee opened #417 "web3-bzz console spam / version"
web3-bzz package will be deprecated in version 1.3.5 and will no longer be supported.

maybe update to v 1.3.3 : https://github.com/ChainSafe/web3.js/issues/3898

[2021-02-09 19:45] alejoasotelo opened #422 "Add pagination in farms to optimize resources [change to enhancement please]"
**Is your feature request related to a problem? Please describe.**
At this moment pancakeswap have 63 farms in 3 columns, the scroll of page is large and hard to read with so many items. Also having so many elements also implies more calculations, therefore more consumption of resources for low end devices.

**Describe the solution you'd like**
Pagination of 12 or 24 items maybe? a select with opt

[2021-02-10 14:53] heyimbrucelee opened #430 "Harvest all count"
**Bug Description**
Im actually in 2 farms / 2 pools
On home : harvest all (3)

**Steps to Reproduce**

**Expected Behavior**
On home : harvest all (4)

**Additional Context**
Im in the CAKE pool / COMP
Maybe related

[2021-02-10 19:27] rohit-010 opened #431 "Nothing happens if we want to add stake in Farm or deposit tokens in pool"
![image](https://user-images.githubusercontent.com/21234961/107560616-78926c00-6bd5-11eb-99db-2572c0e22291.png)

I am using Binance Smart Chain as wallet on Chrome browser

Attached image where UI get's stuck nothing happens after approving from wallet

Steps:
Go to Farm
Example Cake-BNB LP
Click on + button to which opens Stake LP tokens
Enter number of stake click on confirm
Which opens wallet,

[2021-02-11 09:56] rohit-010 commented on #431
Looks like this issue is for wallet : Binance Chain wallet extension on chrome , so closing this raised defect

Thanks

[2021-02-11 09:56] #431 closed

[2021-02-12 04:49] RabbitDoge opened #438 "Remove the input component"
Remove https://github.com/pancakeswap/pancake-frontend/blob/develop/src/components/Input/Input.tsx and replace it by the Input in the uikit
https://pancakeswap.github.io/pancake-uikit/?path=/story/components-input--default

[2021-02-12 06:05] RabbitDoge opened #439 "Migrate lotteryUtils to typescript"
Migrate https://github.com/pancakeswap/pancake-frontend/blob/develop/src/utils/lotteryUtils.js from JS to TS

[2021-02-12 06:12] #310 closed

[2021-02-12 08:08] rutger-s opened #442 "Staking liquidity before approving the contract can make the LP disappear?"
**Bug Description**
Staking liquidity to a pool seems possible in the liquidity screen without approving the contract first.

**Steps to Reproduce**

1. I bought a smaller coin
2. Added that with BNB to a liquidity pool
3. Confirmed
4. Staked the LP pair directly from the liquidity page
5. Checked the farms and did not find the LP staked.

**Expected Behavior**
If you have the option to stake it a

[2021-02-12 16:29] alejoasotelo opened #448 "Wrong Spanish translation of "compound""
**Is your feature request related to a problem? Please describe.**
_Compound_ in spanish is _Reinvertir_.
The word _Calcular_ means do the math.

**Describe the solution you'd like**
Change _Calcular_ by _Reinvertir_

**Current:**
![imagen](https://user-images.githubusercontent.com/1103289/107793123-b78b0380-6d34-11eb-80ac-3a5c30437af9.png)

**Should be:**
![imagen](https://user-images.githubuserc

[2021-02-12 19:59] johnrockson opened #449 "Made a mistake setting price on new liquidity pool, when adding my new token to pancakeswap. How do i reset?"
Made a mistake setting price for token when I was setting up a new liquidity pool.

How do I reset the price this?

I removed the liquidity when I realized the error but now I am unable to reset the price.

Can you remove the token from pancakeswap so that I can re-add?

Please help.

[2021-02-12 20:14] #448 closed

[2021-02-12 20:15] alejoasotelo commented on #375
![imagen](https://user-images.githubusercontent.com/1103289/107818062-c9c96980-6d55-11eb-8efa-c5ffc6f1b804.png)

Done!
You can close the issue!

[2021-02-12 21:59] wivern-co-uk commented on #375
Great, much better now! Thank you!

[2021-02-12 21:59] #375 closed

[2021-02-14 11:30] adaamz commented on #318
Is there any solution? How to use pancakeswap with Trust Wallet or any other wallet?

[2021-02-14 11:36] adaamz opened #456 "Wallet disconnecting when going between <Trade> and other navigations in menu"
**Bug Description**
Wallet disconnecting when going between <Trade> and other navigations in menu

**Steps to Reproduce**

1. Login (connect wallet)
2. Click on Trade > Exchange for example
3. You are logged off, so you need to login again

**Expected Behavior**
You are logged in whole time whenever you click in menu

**Additional Context**
Looks like wrong cookies scope as the <Trade> items navig

[2021-02-14 22:39] BaptisteGarcin commented on #422
that would be great and sorting by APY or TLV could be nice as well!

[2021-02-15 05:33] #265 closed

[2021-02-15 12:22] memoyil opened #461 "Lottery Latest Winning Numbers section shows the first lottery instead of the last one"
**Bug Description**
Lottery Latest Winning Numbers section shows the first lottery instead of the last one

**Steps to Reproduce**

1. Go to Lottery
2. Check Latest Winning Numbers section at the bottom of the page.

**Expected Behavior**
It should show the latest lottery

[2021-02-15 12:24] #461 closed

[2021-02-15 12:26] memoyil opened #462 "Lottery document is now obsolote"
**Bug Description**
Lottery document is now obsolote

**Steps to Reproduce**

1. Go to lottery
2. Click on read more
3. It says Lottery Ticket Fee for 1 ticket: 10 CAKE

**Expected Behavior**
Lottery Ticket Fee for 1 ticket: 1 CAKE  and more other changes

[2021-02-15 16:27] memoyil opened #463 "Total CAKE Burned shows 0 instead of correct value"
**Bug Description**
Total CAKE Burned in the cake stats section in the landing page shows 0 instead of correct value

**Steps to Reproduce**

1. Go to home page
2. Check cake stats

**Expected Behavior**
It should show the amount of cakes burned so far

[2021-02-16 13:38] memoyil opened #473 "Warning when open Info->Pairs"
**Bug Description**
Warning: The data on this site has only synced to Binance Smart Chain block 4928512 (out of 4932297). Please check back soon.

**Steps to Reproduce**

1. Go to Info
2. Go to Pairs

**Expected Behavior**
To see the pairs

[2021-02-16 13:42] ChefKai commented on #473
Due to the Berry IFO, data sync is a bit delayed on the dashboard; it is catching up and will be up-to-date soon. Please check back soon.

Also the correct repository to post issue about Info is here: [pancakeswap/pancake-info](https://github.com/pancakeswap/pancake-info)

[2021-02-16 13:42] #473 closed

[2021-02-16 16:14] rutger-s commented on #442
Additional information: I am receiving CAKE for this, but it shows up as 0 LP staked. Therefore, I cannot sell it (if I would want to) or see how much I have of it.

[2021-02-16 19:48] Megawatt7 opened #475 "Developers Turned Scammers?"
![image](https://user-images.githubusercontent.com/41215180/108113727-da375800-7065-11eb-9576-44fec498e24c.png)

Hello, how is it that there's $16,559,214 in volume for BUNNY/WBNB on PancakeSwap but the general public can't trade it? I'm going to be contacting lawyers soon if the situation is not resolved.

[2021-02-16 19:49] bread-cn commented on #475
wtf

[2021-02-16 19:52] bread-cn commented on #475
😡😡😡

[2021-02-16 20:08] #475 closed

[2021-02-16 23:17] colasin16 commented on #442
It happened to me as well. I will add my **Additional Context** in case it helps.
I use Firefox on Windows 10 with the Metamask plug-in.

I am also receiving CAKE and it also shows 0 as LP staked. If I try to unstake LP tokens the pop up shows 0.00000 balance, but if I click the _Max_ badge suddently it fills with 0.000000037532632241. I haven't click the _confirm_ button so I don't know if I will

[2021-02-17 02:10] Chef-Chungus commented on #449
There's no resetting it. you set the price and that is the price at which the liquidity provider tokens were pegged at. The only way for it to go back to normal is for it to be traded down to the normal price.

We aren't centralized, we can't just change things in a backend, this is the blockchain.

[2021-02-17 02:10] #449 closed

[2021-02-17 20:06] ThisAndyMason opened #481 "UI elements wrong (lottery countdown time)"
**Bug Description**
'Until ticket sale' times on lottery page are not reflecting the correct hour number (always 0).

**Steps to Reproduce**

1. Go to lottery page
2. See 'Until ticket sale' time wrong

**Expected Behavior**
Time to reflect correctly.

I am not sure what the correct time is meant to be for the ticket sale but this keeps rolling over to 59 minutes after it counts to zero. So im ass

[2021-02-18 02:59] alejoasotelo commented on #422
yes, would be great sorting too!!!

[2021-02-18 04:06] Chef-Chungus commented on #481
Thank you, this was due to our scheduler having an issue. all resolved now. Nothing to do with the frontend.

[2021-02-18 04:06] #481 closed

[2021-02-18 17:11] praleks opened #485 "Manual route"
Automatic routs are sucks, they do not respect liquidity.
For example swap 2700 NYA -> BUSD
It offer me NYA -> WBNB -> BUSD with 20% price impact
But I manually use NYA -> CAKE -> BUSD with 0% impact

[2021-02-19 10:37] Johann-S commented on #318
Should fix this : https://github.com/pancakeswap/pancake-frontend/pull/346

[2021-02-19 16:01] RabbitDoge commented on #318
Indeed, #346  will fix this. We plan to release this change early next week.

[2021-02-20 04:16] moontools-hyperion opened #495 "Pancakeswap exchange cannot be embedded in an iframe"
**Bug Description**
When https://exchange.pancakeswap.finance/#/swap is embedded within an iframe on a parent page, the embedded Pancakeswap page fails to load.

In the console, there are some warnings and errors thrown, and I think the issue is because pancakeswap uses a package called redux-localstorage-simple to sync redux state and localstorage. However, pages within an iframe cannot interact

[2021-02-20 04:32] moontools-hyperion commented on #495
Moved to the correct repo https://github.com/pancakeswap/pancake-swap-interface/issues/197

[2021-02-20 04:32] #495 closed

[2021-02-20 06:27] chymian opened #496 "[solved] liquidity remove not working"
for 2 days, I was trying to remove a liquidity-Pair, which was not going through, because the confirm-button did nothing.

it boild down to a false date/time in that linux/debian VM, which I use for crypto-realted stuff only (walltes, & isolated browser).
the KVM-VM did get suspended at one time and did not reset the time to actual when it came online again.
there was no error-msg or hint from PCS

[2021-02-20 07:32] Chef-Chungus commented on #496
Thank you for updating the Issue and letting us know the problem

[2021-02-20 07:32] #496 closed

[2021-02-21 10:29] Code0x2 opened #498 "A reload button that refreshes the balances and exchange rate and performance"
**Is your feature request related to a problem? Please describe.**
Lots of times when I'm trying to swap, it takes a good minute or two for my balance to update without reloading. The exchange rate also often doesnt update frequently. Lots of times when buying a token on launch makes it impossible because price is going up at a high rate and website doesn't update. Caused lots of lost opportunity

[2021-02-21 20:59] Justin2997 commented on #430
Hi @heyimbrucelee seems to be good task for me to start contributing. Can you commente with the current farms and pools that you have setup ?

[2021-02-22 01:45] Chef-Chungus opened #500 "[Internal Task] Rework the Syrup Pool cards"
We need to redesign the syrup pool cards to match the new style of the site
New design
![Screenshot at Feb 22 10-42-12](https://user-images.githubusercontent.com/71833681/108647040-ff5f1700-74fa-11eb-881e-127a9e0a432e.png)

old design
![image](https://user-images.githubusercontent.com/71833681/108647072-14d44100-74fb-11eb-9986-6db7f4c41c12.png)

Figma available here: https://www.figma.com/file/q5d

[2021-02-22 01:46] Chef-Chungus commented on #500
Ignore the light/dark theme stuff in this issue. There are light and dark variants of the new design also.

[2021-02-22 07:54] heyimbrucelee commented on #430
this issue was related to the COMP/CAKE pool i guess,
COMP/CAKE pool isnt active anymore , no more issue.
it may reappear for the next ???/CAKE pool if misconfigured

[2021-02-23 00:19] kingdayx opened #510 "Problem installing code"
**Bug Description**
A clear and concise description of the bug.

**Steps to Reproduce**

1. Go to ...
2. Click on ...
   ...

npm ERR! Could not resolve dependency:
npm ERR! peer react@"^16.12.0" from @binance-chain/bsc-use-wallet@0.8.1
npm ERR! node_modules/@binance-chain/bsc-use-wallet
npm ERR!   @binance-chain/bsc-use-wallet@"*" from the root project

**Expected Behavior**
A clear and concise d

[2021-02-23 09:07] Chef-Chungus opened #511 "QA Results: #482 (Tableview)"
Relevant PR: #482

1. Harvest button is disabled but should be enabled when there are funds earned.
![image](https://user-images.githubusercontent.com/71833681/108820643-d2e0f300-75ff-11eb-996b-bd2243bc326e.png)

2. Cake earned and amount staked - incorrect font color (numbers should not be black font)
![image](https://user-images.githubusercontent.com/71833681/108820944-3ec35b80-7600-11eb-8339-08

[2021-02-23 13:28] bugaolengdeyuxiaoer opened #513 "what happened when I connect my Binance Wallet?"
my computer fan is working, and chrome gpu up to 60 percent in use.
dose you use my computer to mine?

[2021-02-24 01:39] #515 closed

[2021-02-24 02:21] RabbitDoge commented on #510
node 14 and yarn

[2021-02-24 03:41] kingdayx commented on #510
are you saying how to fix it or what your using and also getting the same error?

[2021-02-24 15:08] amddesigns opened #518 "Overview data (including Liquidity, Volume, Tokens and Pairs) not syncing"
<img width="1514" alt="1" src="https://user-images.githubusercontent.com/72715610/109020727-e43f0380-76c2-11eb-9c6a-83e8a5e682ef.png">
<img width="1515" alt="2" src="https://user-images.githubusercontent.com/72715610/109020734-e5703080-76c2-11eb-954f-ba83d23e5d14.png">

[2021-02-25 07:37] StephTech commented on #438
Should we create a InputAdornment component in the UIKit ? The Input component alone from UIKit doesn't handle adornments props

[2021-02-25 09:41] RabbitDoge commented on #438
Probably yes. If you want to do it, assign this issue to you, and link it in you pr.

[2021-02-25 23:57] memoyil opened #526 "Harvest all(count) button in farm staking card in home page is not translated"
**Bug Description**
Harvest all(count) button in farm staking card in home page is not translated

**Steps to Reproduce**

1. Go to home page
2. Change language
2. Check Farms & Staking in home page

**Expected Behavior**
Harvest all(count)  should also be translated

[2021-02-26 00:27] Borea opened #527 "Error trying to installing"
Anyone know why this error?
https://i.imgur.com/ePv0LP2.png

[2021-02-26 06:31] Chef-Chungus opened #530 "[Bounty] Update slider component to new design"
**Reward allocation:**
$250 in CAKE

**Description:**
Our current site slider component is a little boring, we want to add some fun to it.
Task is to replace the existing slider component with the bunny version (please see figma for more design details)
You will need to do this in the UI Kit & apply it to the respective areas on the website (exchange & main site)
**Design:**
![image](https://user-

[2021-02-26 07:23] heyimbrucelee opened #532 "Bug : Multiple issues / correct ABI ?"
CAKE to Harvest: not loading --> 0.0000
APR / Cake rate not loading
etc...

JS error in console :
4.2e516208.chunk.js:1 Uncaught (in promise) Error: Returned values aren't valid, did it run Out of Gas? You might also see this error if you are not using the correct ABI for the contract you are retrieving data from, requesting data from a block number that does not exist, or querying a node which is

[2021-02-26 07:25] maroon-sunlight commented on #530
hello, I will be working on this. Will open a PR when it's ready.

[2021-02-26 07:28] #532 closed

[2021-02-26 08:01] erlandvr opened #533 "I don't see a QR code or anything else when I click on "connect" -> "Binance Chain Wallet"."
**Bug Description**
A clear and concise description of the bug.

**Steps to Reproduce**

1. Go to "Connect"
2. Click on "Binance Chain Wallet"

**Expected Behavior**
I Think there should be a QR code that pops up to connect your wallet.

**Additional Context**
Up to date Chrome Browser on Mac OS

[2021-02-26 08:02] Chef-Chungus commented on #533
Binance chain wallet is a browser extension.
https://chrome.google.com/webstore/detail/binance-chain-wallet/fhbohimaelbohpjbbldcngcnapndodjp?hl=en

No QR needed, just add it to your browser

[2021-02-26 08:02] #533 closed

[2021-02-26 08:03] erlandvr commented on #533
Thank you for the super fast response.

[2021-02-27 04:45] newfie-stack commented on #442
I don’t think this is a bug in the program, more so it’s our error in executing the correct procedure unfortunately. Be nice to have more help with this as we interact with the sites/platforms. If/then programming seems it could be capable of this but I don’t know Solidity so who knows. Anyway, here’s what happened in my case.
I provided liquidity before approving the farm and I’ve the exact same

[2021-02-28 07:50] RabbitDoge opened #537 "Use hardhat fork feature for locahost development"
We should use [Hardhat mainet forking feature](https://hardhat.org/guides/mainnet-forking.html) in order to enhance our dev workflow.
A PoC has been started here https://github.com/pancakeswap/pancake-frontend/pull/376.
Anyone with some Hardhat knowledge can pick up the work and set this up.

[2021-02-28 07:52] RabbitDoge commented on #510
This error seems to be related to your local setup. Make sure you use Yarn and Nodejs 14.

[2021-03-01 00:32] meddou opened #538 "UI Card border-radius divergence"
Hi, is there any reason for the card's shadow rainbow animation to have a different border-radius than the card itself ? (16px for the background and 32px for the card).
Reddit post talking about it : https://www.reddit.com/r/pancakeswap/comments/lpeibm/this_is_the_worst_thing_about_pancakeswap/
I totally agree with the post, it makes the shadow weird.

I think this is basically a one line tweak,

[2021-03-01 01:02] rickmort commented on #438
Hey! I'm working on it! =)

[2021-03-01 01:45] RabbitDoge commented on #538
Feel free to open a pr.
Don't forget to reference this issue.

[2021-03-01 01:49] RabbitDoge commented on #527
This is absolutely not related to pancake, since you do  `yarn add global`

[2021-03-01 01:49] #527 closed

[2021-03-01 01:50] #513 closed

[2021-03-01 02:09] #317 closed

[2021-03-01 02:09] #372 closed

[2021-03-01 10:28] julienbourgainpro opened #545 "I wanna see stacked amount value in cake or in USD"
**Is your feature request related to a problem? Please describe.**
as a user, I want to view the evolution of the value of my stacked assets.

**Describe the solution you'd like**

I wanna see the current value of my coin in a pool or liquidity pair in a farm.
Example :
![image](https://user-images.githubusercontent.com/62098507/109484451-bcfc8380-7a80-11eb-8b24-9873492775de.png)

It could be an a

[2021-03-01 11:04] herbertvinewtech opened #546 "i want to update my own logo...how can i do?"
I want to update the Pancakeswap logo which is a svg format to my own logo...how can i do that one?

[2021-03-01 14:02] colasin16 commented on #442
I think this is not a bug. I removed my liquidity and got my LP tokens back and harvested my CAKE correctly. I could then swap my LP tokens back to the original tokens without a problem. Simply the amount of LP tokens you get when providing liquidity looks very small like 0.00000something and therefore you see 0.000 LP staked in the farm but in reality, your LP tokens are staked and represent the

[2021-03-02 00:38] #538 closed

[2021-03-02 08:40] adaamz commented on #318
It works!
Minor bug is that there is no possibility to close session to WalletConnect so you need to use private tab in browser each time or remove cookies for wallet connect somehow.

[2021-03-02 09:55] RabbitDoge commented on #318
Fixed in #528

[2021-03-02 09:56] RabbitDoge commented on #318
An update will be released tomorrow to fix some minor bugs as well

[2021-03-02 13:40] loic-roux-404 opened #554 "Infite loop on binance chain wallet - can't approve contract"
**Bug Description**
Can't approve contract in `farm` space

**Steps to Reproduce**

1. Go to [/farms](https://pancakeswap.finance/farms)
2. Click unlock wallet
3. if previouss step work Click on approve contract

<img width="313" alt="Screenshot 2021-03-02 at 14 38 04" src="https://user-images.githubusercontent.com/47380500/109656640-edb5e900-7b64-11eb-843d-4970c16a0497.png">

Here the console (ne

[2021-03-02 16:30] heyimbrucelee opened #555 "bMXX Pool"
Could you check this pool configuration ?
Farming looks unexpectedly low.  (something like /100)
Thanks

[2021-03-02 21:37] heyimbrucelee commented on #555
My bad if someone else wonder

Conversion rate (100 MMX : 1 bMXX)

https://mcl-docs.multiplier.finance/multi-chain-lend/lite-paper/key-features/untitled-2

[2021-03-02 21:37] #555 closed

[2021-03-03 02:19] RabbitDoge commented on #546
If you don't know how to do this by yourself, I strongly suggest that you give up the idea of creating and maintaining you rown fork.

[2021-03-03 02:19] #546 closed

[2021-03-03 02:21] #319 closed

[2021-03-03 02:21] #318 closed

[2021-03-03 02:23] RabbitDoge commented on #417
solved

[2021-03-03 02:23] #417 closed

[2021-03-03 02:40] RabbitDoge commented on #456
Should be fixed now. As we change the key name for persisting the login state, you'll probably have to login once again, then it will work.

[2021-03-03 02:40] #456 closed

[2021-03-03 03:06] Chef-Chungus commented on #545
This is planned in a future update.
Estimated release ~ 2 weeks.

[2021-03-03 03:07] Chef-Chungus commented on #19
Closing due to issue age. Not sure if relevant anymore lol

[2021-03-03 03:07] #19 closed

[2021-03-03 03:07] Chef-Chungus commented on #360
Closing - no longer relevant.

[2021-03-03 03:07] #360 closed

[2021-03-03 03:10] #462 closed

[2021-03-03 03:10] Chef-Chungus commented on #462
Resolved

[2021-03-03 05:26] #511 closed

[2021-03-03 08:40] #438 closed

[2021-03-03 18:38] memoyil opened #565 "Many translations not working and stay english when other language selected"
**Bug Description**
Many translations not working and stays in english when other language selected

**Steps to Reproduce**

1. Change language
2. Total Value Locked (TVL), Lottery with, Earn up to and Earn sections remains in English

**Expected Behavior**
Text should be in the language that selected

[2021-03-04 01:27] memoyil commented on #442
Liquidity and farming are two different things. You should be able to see your LP's at the bottom of liquidity page which you can access it from trade section. But Farming means you will stake your LP's to Pancake Main Staking contract which you have to approve it first otherwise you can't stake them.

[2021-03-04 01:35] memoyil commented on #422
@Chef-Chungus new farming page fixing those issues. I think this issue can be closed

[2021-03-04 01:47] alejoasotelo commented on #422
The classification yes and I like it a lot but the pagination not at the moment. I count more than 50 farms. I think the page is loading a lot of farms and a lot of requests. Perhaps limiting to 20 would improve performance.

[2021-03-04 08:10] memoyil commented on #422
can you label it as enhancement?

[2021-03-04 21:30] alejoasotelo commented on #422
No i can't. I don't have permissions.

[2021-03-05 06:38] Chef-Chungus opened #584 "[Bounty] Add link to add token to Metamask in Pool card details"
Reward: $150 USD in CAKE

**Description:**
Add "Add {Token name} to MetaMask" to the details section of the Pool card.
We may need to add the earn token contract address to `src/config/constants/pools.ts` in order to make this work.

**Important notes:**
MUST BE THE EARNING TOKEN, NOT THE STAKING TOKEN.

**Resources:**
Metamask Docs: https://docs.metamask.io/guide/registering-your-token.html#code-

[2021-03-05 16:30] rickmort commented on #584
hey! I'm working on this issue =)

[2021-03-05 16:33] Tomcat88 commented on #584
Working on it!

Questions:

- According to the MetaMask doc an url must be provided for the token icon, it is optional (a placeholder will be showed), is it ok if i leave it optional in the PoolConfig type?

[2021-03-05 16:33] Tomcat88 commented on #584
Ah it seems that @rickmort was faster than me :)

[2021-03-05 16:52] josemtm commented on #584
im working on it but it will some changes in the pool config interface like you said chef

[2021-03-05 17:17] memoyil opened #592 "New farms design should also be applied to pools"
Pools should also benefit the new Farms list design

[2021-03-05 17:59] memoyil opened #594 "After rejecting the wallet connect request by clicking close button, It cannot be shown again until restart"
**Bug Description**
After rejecting the wallet connect request by clicking close button. It cannot be shown again until restart in PC

**Steps to Reproduce**

1. Click Connect
2. Click Wallet Connect
3. Click close button without using qr
4. See User rejected popup
5. Then try to click WalletConnect again, you will see nothing happens
6. After restart the page, first thing that you would see is th

[2021-03-07 06:36] chokosunny opened #598 "Metamask connection problems"
Is your website compliant to Metamask new version requirements:
https://docs.metamask.io/guide/provider-migration.html#replacing-window-web3

[2021-03-07 06:38] chokosunny commented on #594
Maybe the problem is due to this:
https://docs.metamask.io/guide/provider-migration.html#replacing-window-web3
 ?

[2021-03-07 12:34] martaGonz commented on #554
I have a similar problem, none of my transactions work with binance wallet (compound, harvest or unstake LP tokens)

[2021-03-07 16:56] EricGerbers opened #599 "install on localhost but cant run on testnet"
when I clone to my pc, install and run in testnet, Farms functions not work. I cant Approve LP

this is my config:
1) in **.env.development**
REACT_APP_NODE_1 = "https://data-seed-prebsc-1-s1.binance.org:8545"
REACT_APP_NODE_2 = "https://data-seed-prebsc-2-s1.binance.org:8545"
REACT_APP_NODE_3 = "https://data-seed-prebsc-1-s2.binance.org:8545"

2) config Metamask run with BSC Testnet and ready hav

[2021-03-08 00:43] hannawaffle commented on #599
Don't forget to also change the chain id

Where it says

[code]

Use the one from the docs
https://docs.binance.org/smart-chain/developer/rpc.html#testnetchainid-0x61-97-in-decimal

[2021-03-08 01:42] EricGerbers commented on #599
Yes, I was change to 97

[2021-03-08 03:53] RabbitDoge commented on #592
It's in progress

[2021-03-08 03:54] RabbitDoge commented on #598
Yes

[2021-03-08 06:22] #439 closed

[2021-03-08 11:56] EricGerbers commented on #599
and I see in file **src/state/farms/fetchFarms.ts** line 72
this code have an error but I dont know why.

![image](https://user-images.githubusercontent.com/8712206/110318289-e3518e80-803f-11eb-97b7-3b27f62c462f.png)

[2021-03-08 12:01] EricGerbers commented on #532
same with me. Are you resolved problem ?

[2021-03-08 12:05] heyimbrucelee commented on #532
just wait a bit, i guess server/blockchain temporary issues

[2021-03-09 05:44] #598 closed

[2021-03-09 05:49] Chef-Chungus commented on #584
approved - @rickmort's PR #593. Bounty to go to RickMort

[2021-03-09 05:49] #584 closed

[2021-03-09 09:18] #430 closed

[2021-03-09 09:21] RabbitDoge commented on #594
We don't use window.web3

[2021-03-09 18:46] memoyil opened #622 "After rejecting the wallet connect request by clicking close button, qr code shown when restart page"
Bug Description
After rejecting the wallet connect request by clicking close button. It cannot be shown again until restart in PC

Steps to Reproduce

    Click Connect
    Click Wallet Connect
    Click close button without using qr
    See User rejected popup
    Restart page
   See qr code

Expected Behavior
A behaviour that no qr code should be shown

Additional Context
It is reproducible in p

[2021-03-10 11:04] memoyil commented on #442
@Chef-Chungus we can close this pr since it is not a bug and it is a misunderstanding that we solved by changing "Stake: LP" name in farms details to "Get LP"

[2021-03-11 01:56] RabbitDoge commented on #599
A lot of contract don't have a testnet address , check the config files

[2021-03-11 02:30] memoyil opened #631 "Lottery past draws shows first lottery results instead of last one and cannot searchable when wallet is not connected"
**Bug Description**
Lottery past draws shows first lottery results instead of last one and cannot searchable when wallet is not connected

**Steps to Reproduce**

1. Go to lottery without connecting wallet
2. Click past draws
3. See lottery number 1
4. Try to search other lottery results
5. Search button is not clickable

**Expected Behavior**
It should show the last lottery and can be searchable

[2021-03-11 02:38] memoyil opened #633 "Wallet connection errors should be human readable"
**Bug Description**
Wallet connection errors should be human readable

**Steps to Reproduce**

1. Go to connect
2. Click metamask for example without having metamask on your browser
3. Check error message

<img width="419" alt="image" src="https://user-images.githubusercontent.com/2213635/110727283-3a5f8b00-821b-11eb-9b85-34e6a9a83071.png">

**Expected Behavior**
Error messages should be human rea

[2021-03-11 13:08] memoyil opened #642 "Farms pair APR stucks at Loading when it is too high"
**Bug Description**
Farms APR stucks at Loading when it is too high

**Steps to Reproduce**

1. Go to a new farm pair
2. If it is higher than 1000 aprx. in details section it stucks at Loading... But can be seen with calculation button

**Expected Behavior**
It should show current apr at any time

[2021-03-11 17:19] memoyil commented on #642
cannot reproducible, close it for now

[2021-03-11 17:19] memoyil commented on #642
cannot reproducible, close it for now

[2021-03-11 17:19] #642 closed

[2021-03-11 17:21] memoyil opened #644 "After logout from wallet farm earnings still visible"
**Bug Description**
After logout from wallet farm earning still visible

**Steps to Reproduce**

1. Connect wallet
2. Go to farms
3. Check earnings
4. Logout from wallet
5. Check earnings still visible

**Expected Behavior**
It should reset the state

[2021-03-11 20:31] erlandvr opened #646 "Can't compound in cake pool, wallet shows insufficient balance while funds are sufficient."
**Bug Description**
A clear and concise description of the bug.

**Steps to Reproduce**

1. Go to Pools
2. Click on compound in the cake pool (while having earned some cake)
3. Binance chain wallet opens after long wait, but says funds are  insufficient while I have sufficient funds.
note: When exchanging tokens or coins I don't get the insufficient balance notice.

**Expected Behaviour**
Binance

[2021-03-12 05:48] #631 closed

[2021-03-12 05:50] #644 closed

[2021-03-12 06:00] Chef-Chungus opened #648 "[BUG] On android, the `Copy Address` button does not work."
**Bug Description**
On Android devices, copy to clipboard button does not work.

**Steps to Reproduce**

1. Go to PancakeSwap on an Android device
2. Click on your address
3. Click Copy Address
4. Address doesn't get copied to clipoard.
   ...

**Expected Behavior**
Upon clicking copy to clipboard, the address gets copied to your clipboard.

**Additional Context**
![image](https://user-images.gith

[2021-03-12 07:01] memoyil commented on #646
Are you doing your swap operations from pancake website or directly from wallet?

[2021-03-12 08:02] bogdanIuga commented on #646
**Issue 1:**
1. go to pools
2. cake pool -> click stake cake
3. select amount
4. click "Confirm"

Expected: The Binance wallet to open to confirm the transaction
Actual: Nothing happens, it is "pending confirmation"  for a very long time, and no popup after that.

**Issue 2:** I also had the issue with "Insufficient funds", even though there are enough BNB founds in my wallet.
**Issue 3:** On the

[2021-03-12 08:11] erlandvr commented on #646
From the pancake website.

[2021-03-12 09:55] erlandvr commented on #646
I've tried updating my extensions but no improvement.
Binance Chain wallet version: 1.135.3
![image](https://user-images.githubusercontent.com/36692058/110923662-6cf3ab80-8321-11eb-8786-e6d674615929.png)

[2021-03-12 10:11] ArtemKolichenkov opened #650 "Sort by APR not sorting properly"
**Bug Description**
Sort by APR in the Farms table does not work properly if farm has APR > 1000%

**Steps to Reproduce**

1. Go to Farms
2. Choose `APR` from "SORT BY"

**Expected Behavior**
Expect to see farms with 1000 or more APR on top of the table above farms with 3-digit APRs

**Additional Context**
On screenshot you can see that `BUX-BNB` farm has 1186% APR and is below other farms that ha

[2021-03-12 10:12] ArtemKolichenkov commented on #650
I opened a PR for it - #651

[2021-03-12 12:39] memoyil commented on #648
Created a pull request in uikit

https://github.com/pancakeswap/pancake-uikit/pull/220

[2021-03-12 13:15] ArtemKolichenkov commented on #648
I tried to reproduce this issue and here are my findings:

### Android 10
`Copy Address` works properly with:
- Chrome `89.0.4389.86`
- Brave `1.21.74` (Chromium `89.0.4389.72`)
- Firefox `86.1.1` (Build #2015794883)

The only browser that does **not** copy the address is Trust Wallet's integrated dAPP browser. It does not work there because `clipboard-write`permission is `denied` by default in We

[2021-03-12 13:23] memoyil commented on #648
Yes, I tested it there. It works properly

[2021-03-12 13:54] ArtemKolichenkov commented on #648
Actually just checked - turns out the whole `navigator.permission` is undefined in WebView, i.e. Trust Wallet. So maybe indeed solution by @memoyil is the only way to do it for now to support copying in TrustWallet. Not gonna lie I don't like creating textareas to just copy address, but seems like there is no other way we can fix it on our end. 🙁

I've filed a bug report to Trust Wallet (also made

[2021-03-13 00:10] drandreaskrueger opened #654 "REST API access to current prices - not working?"
**Bug Description**
No price data available?

**Expected Behavior**
Get the price data.

**Additional Context**
documentation: https://github.com/pancakeswap/pancake-info-api/blob/develop/documentation.md

### tickers
https://api.pancakeswap.info/api/tickers
{"error":{"code":500,"message":"Failed to decode `block.number` value: `subgraph QmUf1YRkpWGSp867mLb6ab8aGPCnircwN17SKbrM5UeUW2 has only inde

[2021-03-13 11:49] erlandvr commented on #646
I've tried deleting and re-installing my binance chain wallet in chrome, nothing changed. :(

[2021-03-13 11:53] erlandvr commented on #646
I can confirm that harvesting from the farm is no issue. So the issue is only present in the pool.

[2021-03-13 12:02] erlandvr commented on #646
I have managed to resolve the issue, apparently my funds were still too low. This while the transaction fee was only 0.001 BNB and my funds were 0.06 BNB.

[2021-03-13 13:32] memoyil opened #655 "Lottery past draws search button shows arrows when hover which is not usable"
**Bug Description**
Lottery past draws search button shows arrows underneath when hover

**Steps to Reproduce**

1. Go to lottery
2. Click on past draws
3. Hover search button
4. See arrows underneath which is not usable

**Expected Behavior**
No arrows

[2021-03-13 13:59] Chef-Chungus commented on #655
![image](https://user-images.githubusercontent.com/71833681/111032472-bfcb8100-844f-11eb-862f-d40452492fa9.png)
Screenshot for context

[2021-03-15 00:13] #655 closed

[2021-03-15 02:01] #594 closed

[2021-03-15 02:01] #622 closed

[2021-03-15 02:01] #633 closed

[2021-03-15 02:04] #530 closed

[2021-03-15 07:20] erlandvr commented on #646
Today, even with my higher funds which made it work again this weekend. The insufficient funds behaviour is back, so I re-opened the bug.

[2021-03-15 08:38] erlandvr commented on #646
Hello it's me again :p
I have finally decided to copy my bsc wallet into a Metamask wallet. This wallet seems to respond faster and also no issue with on the insufficient funds part.

[2021-03-15 14:39] rajeevbarde opened #663 "Site not working - Certificate verification error on site"
**Bug Description**
site not working

![image](https://user-images.githubusercontent.com/6995156/111170744-486e2c80-85ca-11eb-9067-e23a34a2637d.png)

[2021-03-15 14:56] Chef-Chungus commented on #663
Please don't access the site right now, the DNS has been hijacked and we are in the process of recovering
https://twitter.com/PancakeSwap/status/1371471934999777281

[2021-03-15 16:29] #663 closed

[2021-03-16 09:01] memoyil opened #668 "Farm earned textcolor after wallet disconnect is in active color"
**Bug Description**
Farm earned textcolor after wallet disconnect is in active color

**Steps to Reproduce**

1. Go to farms
2. Connect your wallet
3. Check your earnings
3. Disconnect from your wallet
4. The farms that you earned look like this with active '?' color

<img width="424" alt="Screenshot 2021-03-16 at 09 58 29" src="https://user-images.githubusercontent.com/2213635/111282711-93298c00-

[2021-03-16 12:33] problemobro commented on #646
Hello I have the same issue it is only in /pools

[2021-03-16 13:15] problemobro commented on #646
I did the same and with metamask there are no problems. Thanks bro!

[2021-03-16 23:30] memoyil opened #672 "Lottery translations are missing"
Lottery translations are missing

[2021-03-17 01:03] #672 closed

[2021-03-17 01:04] #526 closed

[2021-03-17 21:35] memoyil opened #677 "Get token pair link that contains BNB opens liquidity page with WBNB"
**Bug Description**
Get token pair link that contains BNB opens liquidty page with WBNB

**Steps to Reproduce**

1. Go to farms
2. Click on CAKE-BNB
3. Click Get CAKE-BNB LP
4. See it shows WBNB instead of BNB in liquidity page

**Expected Behavior**
It should select BNB

[2021-03-17 22:22] memoyil opened #679 "Farms page crashes when ordering by multiplier when farms loading"
**Bug Description**
Farms page crashes when ordering by multiplier when farms loading

**Steps to Reproduce**

1. Go to farms
2. Order by multiplier when farms loading
3. Page Crashes

**Expected Behavior**
Should not crash

[2021-03-18 00:09] Chef-Chungus opened #681 "[Bug] some icons and font on some devices is black"
**Bug Description**
While using trust wallet, there are some icons and font which are displaying as black on my device.

**Steps to Reproduce**
Unsure if reproducible
Visit https://pancakeswap.finance/pools on trust wallet ios

**Expected Behavior**
The font and icon colour should match what displays on the desktop

**Additional Context**

[2021-03-18 00:12] Chef-Chungus commented on #681
![6C8B9B33-3C9A-4AF1-B8BB-7057779DE940](https://user-images.githubusercontent.com/71833681/111554628-04e21100-87ca-11eb-8145-c77ea676c3f7.jpeg)

[2021-03-18 06:18] #679 closed

[2021-03-18 13:10] bogdanIuga commented on #554
any updates? happens the same when I try to deposit CAKE.

Brave browser

![image](https://user-images.githubusercontent.com/26706013/111631411-09272200-87fc-11eb-8378-e5e2784a5d0c.png)

[2021-03-18 19:54] memoyil opened #690 "Farmcards show wrong liquidity value"
**Bug Description**
Farmcards shows wrong liquidity value

**Steps to Reproduce**

1. Go to farms
2. Change to farm card view
3. Check liquidity value compared to row one

**Expected Behavior**
Both views should show the same value

[2021-03-19 08:23] RabbitDoge commented on #690
Fixed in #693

[2021-03-19 08:23] #690 closed

[2021-03-19 08:25] memoyil opened #696 "Get token pair link in APY page shows BNB/BNB"
**Bug Description**

Get token pair link in APY page shows BNB/BNB

**Steps to Reproduce**

1. Go to farms
2. Click on calculate button next to one of the farms apy
3. Check the link on the bottom

**Expected Behavior**
It should have the correct add liquidity link

[2021-03-19 11:14] memoyil opened #697 "Prize in USD shows 0 in Lottery Jackpot"
**Bug Description**
Prize in USD shows 0 in Lottery Jackpot

**Steps to Reproduce**

1. Check prize in usd in lottery jackpot in homepage

**Expected Behavior**
It should show correct value

<img width="554" alt="image" src="https://user-images.githubusercontent.com/2213635/111818990-1ae1f580-88e0-11eb-9717-2087abca6681.png">

[2021-03-19 12:29] memoyil opened #699 "Usd price in Cake shows the exact same value for a long time"
**Bug Description**
Usd price in Cake shows the exact same value for a long time

**Steps to Reproduce**

1. Check cake price in usd in menu

**Expected Behavior**
It should show the correct value

**Additional Context**
I added debug console log in menu component and it gives the same value with also precisions for a long time.

<img width="236" alt="image" src="https://user-images.githubusercont

[2021-03-19 13:47] memoyil commented on #699
I checked and it is related to price API not the UI. I will open a PR there

[2021-03-19 17:22] memoyil commented on #697
<img width="554" alt="image" src="https://user-images.githubusercontent.com/2213635/111818971-14537e00-88e0-11eb-97a9-810f53718497.png">

[2021-03-19 17:35] memoyil opened #700 "Lottery card section in homepage shows active Approve Cake button when there is no wallet connected"
**Bug Description**
Lottery card section in homepage shows active Approve Cake button when there is no wallet connected

**Steps to Reproduce**

1. Go to homepage when no wallet is connected
2. Check lottery card section in main page
3. See active Approve Cake button

**Expected Behavior**
It should show connect to wallet button

![image](https://user-images.githubusercontent.com/2213635/111821251

[2021-03-20 18:38] memoyil opened #703 "Cake price in Webpage Title shows NaN at first"
**Bug Description**
Cake price in Webpage Title shows NaN at first

**Steps to Reproduce**

1. Go to webpage
2. Check title in tab
3. At first it shows NaN

**Expected Behavior**
It should not show anything when price is NaN

<img width="535" alt="Screenshot 2021-03-20 at 19 15 02" src="https://user-images.githubusercontent.com/2213635/111882095-efc8d600-89b3-11eb-81de-ba792752d3ec.png">

[2021-03-22 02:07] #700 closed

[2021-03-22 02:44] #677 closed

[2021-03-22 02:44] #696 closed

[2021-03-22 02:46] #668 closed

[2021-03-22 12:26] memoyil opened #711 "Webpage title shows cake price $0.000 for long time when fresh restart"
**Bug Description**
Webpage title shows cake price $0.000 when loading

**Steps to Reproduce**

1. Check web page title when fresh restart

**Expected Behavior**
It should not show anything when loading

<img width="479" alt="Screenshot 2021-03-22 at 13 12 34" src="https://user-images.githubusercontent.com/2213635/111996650-8b745680-8b1a-11eb-979f-643e8dacf4b3.png">

[2021-03-22 13:27] memoyil commented on #699
Fixed https://github.com/pancakeswap/pancake-frontend/pull/706

[2021-03-22 13:28] #699 closed

[2021-03-22 13:28] memoyil commented on #697
Fixed https://github.com/pancakeswap/pancake-frontend/pull/706

[2021-03-22 13:28] #697 closed

[2021-03-22 21:17] memoyil opened #715 "Lottery total prize in homepage shows 0 when cakeusd price loading"
**Bug Description**
Lottery total prize in homepage shows 0 when cakeusd price loading

**Steps to Reproduce**

1. Go to home page fresh restart
2. Check lottery total prize
3. Shows 0 while cakeusd price loading

**Expected Behavior**
It should show loading section

<img width="413" alt="Screenshot 2021-03-22 at 22 14 50" src="https://user-images.githubusercontent.com/2213635/112059582-4f61e580-8

[2021-03-23 00:38] #715 closed

[2021-03-23 00:39] #711 closed

[2021-03-23 18:46] #703 closed

[2021-03-23 18:46] #565 closed

[2021-03-24 07:16] Chef-Chungus opened #732 "[QA] Pool Cards rework"
QA for - [WIP] Pool cards updates #629

[  ] Earned token does not show USD value equivalent - Need to use price from API to calculate this information. All token prices should be available. If you have questions about how to obtain these, please consult @RabbitDoge
![image](https://user-images.githubusercontent.com/71833681/112267096-4c7c0780-8cb8-11eb-9ae9-6a5f5a532c7d.png)

[   ] Update `Finish

[2021-03-24 08:54] cbunnydev commented on #732
@Chef-Chungus

Issues posted above are resolved on the pull request.

https://github.com/pancakeswap/pancake-frontend/pull/629

[2021-03-24 09:46] #681 closed

[2021-03-24 18:48] memoyil opened #735 "Finished Farms with staked only doesn't filter farms"
**Bug Description**
Finished Farms with staked only doesn't filter farms

**Steps to Reproduce**

1. Go to farms
2. Click finished farms
2. Click on stacked only
3. See it doesn't filter farms

**Expected Behavior**
It should filter out farms

[2021-03-24 20:16] memoyil opened #738 "Finished farms apr shows loading"
**Bug Description**
Finished farms apr shows loading

**Steps to Reproduce**

1. Go to farms
2. Click on finished
3. Check apr

**Expected Behavior**
It should show 0

[2021-03-25 01:30] #650 closed

[2021-03-25 08:02] memoyil commented on #735
Fixed #741

[2021-03-25 08:02] #735 closed

[2021-03-25 23:59] goaaron opened #748 "Remove sound effect on currency selector"
Can you make it a feature to disable this? It can be annoying, especially on mobile.

[2021-03-26 02:06] #738 closed

[2021-03-29 07:26] Chef-Chungus commented on #732
1. The Percentage attached to the bunny is placed incorrectly
![image](https://user-images.githubusercontent.com/71833681/112800267-664b8f00-90aa-11eb-8067-989a989f02ed.png)

2. The Icon in the `Confirming` state is the wrong color
![image](https://user-images.githubusercontent.com/71833681/112800329-75cad800-90aa-11eb-8412-290e866f6b7f.png)

3. spacing between cards should be 32px, effective max

[2021-03-29 20:46] cbunnydev commented on #732
Issues resolved

Need a pr in ui kit to get merged in.

https://github.com/pancakeswap/pancake-toolkit/pull/36/files

[2021-03-30 10:34] kenifxyz opened #764 "USD Label for Total Pot in Lottery page"
would be great if we could see the lottery stake in USD on the lottery page like we can on the homepage. current implementation only shows in cake
![image](https://user-images.githubusercontent.com/59130880/112975657-82246300-9186-11eb-9045-5031ce1f390a.png)

[2021-04-01 00:34] #764 closed

[2021-04-02 07:33] kyranjamie opened #777 "[UX] Confusing navigation, `Teams and Profiles`"
Hi all, sorry if this isn't the place to share UI feedback but feel this is important.

<details>
<summary>Related UI Screenshot</summary>

![image](https://user-images.githubusercontent.com/1618764/113392622-b326b280-9395-11eb-8104-76471e5b55b8.png)
</details>

While I gather you're trying to attract attention to the _Teams and Profile_ page, it's extremely confusing as the visual weight of this

[2021-04-05 01:54] RabbitDoge commented on #777
@ChefBugs

[2021-04-05 06:27] Twin365 commented on #442
Did you manage to resolve this?
I provided liquidity and than staked the LP in the Farm, now farm shows zero LP tokens.
I'm having the same issue with Pancakeswap not showing STAKED LP in ALICE-BNB FARM.
BscScan showing all transactions and contract.
On Pancakeswap In the Farm menu The Cake Earned keeps earning but "ALICE-BNB LP STAKED shows 0"(zero)
Also in the Trade> Liquidity shows no liquidity

[2021-04-05 12:33] memoyil opened #794 "Page title shows "false" when price is loading"
<img width="1394" alt="Screenshot 2021-04-05 at 14 04 34" src="https://user-images.githubusercontent.com/2213635/113574204-ebd7bd80-961b-11eb-9869-09a62f85831b.png">

[2021-04-06 00:06] #794 closed

[2021-04-06 02:17] ChefBugs commented on #777
yes aware and agreed

[2021-04-06 02:17] #777 closed

[2021-04-06 02:49] Chef-Chungus commented on #777
Resolved yesterday

[2021-04-06 07:49] devsingh123 opened #808 "Contact a dev if you need these values."
REACT_APP_CROWDIN_APIKEY = ""
REACT_APP_CROWDIN_PROJECTID = ""

[2021-04-06 07:50] devsingh123 commented on #808
Do these id required for the installation of App ??

[2021-04-06 07:55] Chef-Chungus commented on #808
We are going to be reworking out localization system, so we won't be handing out these keys for now. You won't need them later once we refactor it

[2021-04-06 07:58] devsingh123 commented on #808
We need features
Exchange (Trade)
Farms

[2021-04-07 14:32] memoyil opened #822 "Earn apy card stucks at loading"
<img width="403" alt="image" src="https://user-images.githubusercontent.com/2213635/113883734-b7503700-97be-11eb-8f3e-1a669388bdd5.png">

[2021-04-07 14:41] #822 closed

[2021-04-08 14:17] Chef-Cheems opened #828 "Lottery "You won!" card does not disappear after collection rewards."
**Bug Description**
When you collect your lottery prize the "You won!" card does not go away after collection.

**Steps to Reproduce**

1. Go to lottery
2. Win the lottery
3. Collect your prize
4. After transaction is completed and you got your cake - you still see the "You won!" card. Clicking on "Collect" again does nothing.

**Expected Behavior**
After you collected your prize you "You won!" ca

[2021-04-08 14:19] memoyil commented on #828
Win the lottery step makes me happy :)

[2021-04-10 19:14] memoyil opened #842 "Ticket input should only show numeric keyboard on mobile"
![index](https://user-images.githubusercontent.com/2213635/114281966-9ea38380-9a41-11eb-801b-36c8346af6b3.jpg)

[2021-04-10 19:14] memoyil opened #843 "Ticket input should only accept numeric values"
![index1](https://user-images.githubusercontent.com/2213635/114281998-c72b7d80-9a41-11eb-9c65-d7b8ad882748.jpg)

[2021-04-10 19:15] memoyil opened #844 "Ticket input when no input make confirm button available"
![index3](https://user-images.githubusercontent.com/2213635/114282012-df030180-9a41-11eb-9333-85f44c92231a.jpg)

[2021-04-11 14:39] memoyil opened #847 "Past Lottery Section gives warning when input has no value"
Warning: Received NaN for the `value` attribute. If this is expected, cast the value to a string.
input
O@http://localhost:3000/static/js/vendors~main.chunk.js:214520:6
div
O@http://localhost:3000/static/js/vendors~main.chunk.js:214520:6
div
O@http://localhost:3000/static/js/vendors~main.chunk.js:214520:6
form
div
O@http://localhost:3000/static/js/vendors~main.chunk.js:214520:6
PastLotterySearcher

[2021-04-11 15:56] memoyil opened #848 "Ticket allows ticket amount with decimals"
<img width="627" alt="Screenshot 2021-04-11 at 18 02 42" src="https://user-images.githubusercontent.com/2213635/114311722-28aa2580-9af0-11eb-8cc2-871112a0f98f.png">

[2021-04-12 00:59] #847 closed

[2021-04-12 01:10] #842 closed

[2021-04-12 01:10] #843 closed

[2021-04-12 01:10] #844 closed

[2021-04-12 01:10] #848 closed

[2021-04-12 07:44] devsingh123 commented on #808
Have you completed refactoring the same ?

[2021-04-12 07:50] devsingh123 opened #851 "Need Installation Guide Pancakeswap"
Hi,

I need the installation guide which help me setup the pancakeswap so, that I can test.

Next during setup what type of keys are required.

Please help & guide.  You help in this regards will be highly appriciated.

[2021-04-12 07:53] memoyil commented on #851
https://github.com/pancakeswap/pancake-frontend/blob/develop/CONTRIBUTING.md

[2021-04-12 07:57] devsingh123 commented on #851
Thanks for your quick response.

I read this but, I don't know where to find the developer email id for these two values so, that I can email and get these value ? Please help.

REACT_APP_CROWDIN_APIKEY = ""
REACT_APP_CROWDIN_PROJECTID = ""

[2021-04-12 07:58] memoyil commented on #851
You don't need them unless you need translations

[2021-04-12 07:59] devsingh123 commented on #851
I actually, need only two features exchange and farms will those work without these two keys ?

[2021-04-12 08:01] memoyil commented on #851
Yes they will work without those keys

For exchange you need to fork this repo

https://github.com/pancakeswap/pancake-swap-interface

[2021-04-12 08:03] devsingh123 commented on #851
thanks you @Memoyil for you quick response. It was confusing for me earlier but, you made it clear.

[2021-04-12 09:29] Chef-Chungus commented on #851
resolved

[2021-04-12 09:29] #851 closed

[2021-04-12 09:30] Chef-Chungus commented on #808
the refactoring is in progress.

You don't need these values to run a copy of the site though.

[2021-04-12 09:30] #808 closed

[2021-04-13 08:24] memoyil opened #864 "Unstake confirm button is active when empty input"
<img width="446" alt="Screenshot 2021-04-13 at 10 21 17" src="https://user-images.githubusercontent.com/2213635/114521088-5f905080-9c42-11eb-9426-a55aed30bf7e.png">

[2021-04-13 08:25] memoyil opened #865 "Unstake confirm button when input exceeds max value"
<img width="427" alt="Screenshot 2021-04-13 at 10 21 40" src="https://user-images.githubusercontent.com/2213635/114521250-8a7aa480-9c42-11eb-8207-2f45efcf64a0.png">

[2021-04-13 08:26] memoyil opened #866 "Unstake input accepts number with letters"
<img width="438" alt="Screenshot 2021-04-13 at 10 22 07" src="https://user-images.githubusercontent.com/2213635/114521308-96fefd00-9c42-11eb-835f-a7ed4d55edf1.png">

[2021-04-13 08:28] memoyil opened #867 "Unstake and stake modal doesn't have numeric keyboard support for mobile"
![WhatsApp Image 2021-04-13 at 10 27 33](https://user-images.githubusercontent.com/2213635/114521706-fc52ee00-9c42-11eb-9b8a-6952c2911c65.jpeg)

[2021-04-13 11:25] memoyil opened #869 "Lottery Won Card doesn't have margin"
**Android:**

<img width="50%" height="50%"  src="https://user-images.githubusercontent.com/2213635/114544576-22848800-9c5b-11eb-8ac8-5baf7898d8be.png">

**Ipad:**

<img width="50%" height="50%"  src="https://user-images.githubusercontent.com/2213635/114544577-231d1e80-9c5b-11eb-87dc-44c1ea7e320e.png">

**Iphone:**

<img width="50%" height="50%"  src="https://user-images.githubusercontent.com/2213

[2021-04-13 19:20] guignolinho commented on #442
Same pb with alice-bnb and with tlm-bnb. Its shows 0 lp but it works and I get cake. I double checked with yieldwatch and its shows the lp. So its only a display bug. But i can’t remove the token. Pretty annoying.

[2021-04-13 19:23] guignolinho commented on #442
![Uploading E4BB52E5-43B4-46AA-96B0-72441DFF9478.png…]()

[2021-04-13 19:23] guignolinho commented on #442
![57504D99-5216-48CB-B36B-8370AAC41BC6](https://user-images.githubusercontent.com/82472297/114608885-782e5400-9c9e-11eb-8edb-72864bfb6d29.png)
![A16EC65A-B8B6-422D-A956-8EC16EF845D9](https://user-images.githubusercontent.com/82472297/114608889-795f8100-9c9e-11eb-83e5-0aa3164f9074.png)

[2021-04-13 19:25] guignolinho commented on #442
![Uploading F0352AAC-6C0B-4708-96A9-474BBF24D47E.png…]()

[2021-04-13 19:25] guignolinho commented on #442
![Uploading 88328EB9-E978-4C22-9E9B-6F1B3C45645F.png…]()

[2021-04-13 19:25] guignolinho commented on #442
![Uploading 31D33EF5-8AF9-48C6-A7F4-89CF77D5090E.png…]()

[2021-04-13 19:26] guignolinho commented on #442
![Uploading 9B006C4E-0522-44BB-8D9B-4AB1BC4C07AA.png…]()

[2021-04-13 19:37] memoyil commented on #442
How many LP tokens you have?

[2021-04-13 21:14] rickmort commented on #537
hey! @RabbitDoge  I'd like to take this issue

Working on it!

[2021-04-14 08:52] guignolinho commented on #442
It shows 0 but i have some: 0xe986883f28f01b4f96ce6a5eb23ef52b00c0a90635172119cea6c4b9ba62f617
someone told me its because bnb and tlm doesn’t have the same number of decimal

[2021-04-14 09:20] memoyil commented on #442
Can't you click the unstake (minus) button ? Even if you shows you 0. If you can, Can you share the unstake window please

[2021-04-14 11:10] guignolinho commented on #442
Ok it works when I unstake, so it’s only a matter of display. Thanks for your precious help.

[2021-04-14 11:11] memoyil commented on #442
Display fix is on the way

[2021-04-14 17:02] memoyil opened #893 "Pool card shows compounding when click harvest"
**Bug Description**
A clear and concise description of the bug.

**Steps to Reproduce**

1. Go to pool cards
2. Click on harvest
3. Check compound button

**Expected Behavior**
Compound should stay as it is and disabled

<img width="357" alt="Screenshot 2021-04-14 at 19 01 07" src="https://user-images.githubusercontent.com/2213635/114750163-f567d080-9d53-11eb-92cc-3fc9432b84fc.png">

[2021-04-15 00:33] #442 closed

[2021-04-15 10:42] heyimbrucelee opened #900 "[BUG] Farms page"
i guess you are aware of it, farms page doesn't works
also $cake price in sidebar not displaying

js errors :

3.abd0cd99.chunk.js:1 Uncaught (in promise) Error: Returned values aren't valid, did it run Out of Gas? You might also see this error if you are not using the correct ABI for the contract you are retrieving data from, requesting data from a block number that does not exist, or querying a

[2021-04-15 10:51] #900 closed

[2021-04-15 11:11] memoyil commented on #900
Js translation error is because english one has too many request. If you check the options request before that you will see 429 Too Many Request response. But it fallbacks to english ones that is defined in code

[2021-04-15 11:28] memoyil opened #901 "Farm table shows 0 LP's instead of Stake LP button"
![image](https://user-images.githubusercontent.com/2213635/114861991-4a582500-9dee-11eb-997c-65ae6f7a7f8c.png)

[2021-04-15 11:45] rutger-s commented on #442
Yeah, I also figured out later it's a display error, unstaked it and then everything worked.

Thanks @memoyil !

[2021-04-15 13:33] xHeinrich opened #906 "Achievement points on IFOv2 page dont match profile page"
**Bug Description**
Achievement points rewards dont match between the IFOv2 page(20 points) and the profile page(100 points).

**Steps to Reproduce**

1. Go to IFOv2 page - https://pancakeswap.finance/ifo
2. Look at achievement points

![image](https://user-images.githubusercontent.com/7674587/114877238-71404680-9e42-11eb-8e82-b80d9b9a5ce8.png)

3. Go to profile page

![image](https://user-images.

[2021-04-16 02:12] #869 closed

[2021-04-16 02:38] #901 closed

[2021-04-16 09:39] xHeinrich commented on #906
fixed in #911

[2021-04-16 09:39] #906 closed

[2021-04-17 13:51] memoyil opened #920 "Farm table shows earned cake price 0 when price is loading"
<img width="449" alt="Screenshot 2021-04-16 at 21 23 23" src="https://user-images.githubusercontent.com/2213635/115115427-bc6a6e80-9f94-11eb-8743-8c1e404dced6.png">

[2021-04-18 10:21] tzoeov opened #928 "Rules details text and icon are not aligned"
**Bug Description**
Text and icon should be centered.

**Steps to Reproduce**
1. Go to Team Battle
2. Scroll down to the rules

**Additional Context**
![image](https://user-images.githubusercontent.com/4741200/115141953-c8fbcf00-a047-11eb-824b-f75252e6882c.png)

[2021-04-18 23:29] #920 closed

[2021-04-19 02:10] Chef-Cheems commented on #828
Reopening because this just happened again. 🤔

[2021-04-19 02:12] #893 closed

[2021-04-19 04:14] memoyil commented on #828
I am checking

[2021-04-19 05:21] Chef-Chungus opened #932 "Add 'visibility' toggle on profile page which hides/shows username."
1. Add these two icons to the UI Kit
2. Add icon to the profile page which hides the username (changing it from `bullish1` to `********`

![image](https://user-images.githubusercontent.com/71833681/115185244-6e7f7300-a11a-11eb-89ca-20430c1948fc.png)

Figma URL to icons: https://www.figma.com/file/q5dKq3BuQZ4YzV5pR0Mt2M/Design-System-UI?node-id=1765%3A24593

Icon SVGs: [Design System + UI (10).zip]

[2021-04-19 05:49] Chef-Chungus commented on #932
assigned to : @karelianpie

[2021-04-19 06:05] #928 closed

[2021-04-19 06:06] Chef-Chungus commented on #928
Thanks!

[2021-04-19 10:57] memoyil opened #937 "Lottery Card at home page claim amount not updated after collect winnings"
**Bug Description**
A clear and concise description of the bug.

**Steps to Reproduce**

1. Go to homepage
2. Click on collect winnings after won the lottery
3. Check claim amount is the same

**Expected Behavior**
Claim amount should be updated

[2021-04-20 02:17] #828 closed

[2021-04-20 02:17] #937 closed

[2021-04-20 02:28] #864 closed

[2021-04-20 02:28] #865 closed

[2021-04-20 02:28] #866 closed

[2021-04-20 02:28] #867 closed

[2021-04-20 14:27] ciruz opened #951 "Exchange CORS error with api.crowdin.com translations"
**Bug Description**
Noticed a CORS error with api.crowdin.com translations.

**Steps to Reproduce**

1. Go to https://exchange.pancakeswap.finance/#/
2. Check the console
[code]
![image](https://user-images.githubusercontent.com/987947/115413120-36009780-a1f5-11eb-9413-5067892de49e.png)

[2021-04-20 14:54] memoyil commented on #951
Currently there too many request, Options request before that one returns 429 Too Many Requests. That is the root cause of that issue

[2021-04-21 06:23] 634396b opened #957 "Make element clickable."
Hi sorry I am on my phone right now otherwise I would fix myself and submit PR, but can we make this icon clickable? Utf8 links with small font sizes are difficult to open on mobile.

![Screenshot_20210421-021723~2.png](https://user-images.githubusercontent.com/69803008/115505895-25c5d800-a248-11eb-985a-67bde941451e.png)

Thank you pancakes and bunnies <333 ^.^ meow!

[2021-04-21 06:28] 634396b commented on #957
Oops sorry. New to the github ui on mobile and the ui is bad, thought "close" meant to close the ui element lol.

[2021-04-21 12:50] #957 closed

[2021-04-22 01:53] #932 closed

[2021-04-22 09:12] noblica commented on #422
I think we can close this, since the infinite scroll PR was merged?

[2021-04-22 09:19] noblica opened #976 "Non-blocking farms search."
When searching the farms, there is a significant delay as you type the search query. During the delay, the UI seems frozen.
I'm guessing this is because all the filtering is executed on the frontend, and there's quite a lot of pairs to filter through.

A solution for this could be to use webworkers to execute the filtering. That way, the filtering would be done in a separate thread, and it wouldn'

[2021-04-23 11:48] memoyil opened #990 "Lottery history chart tooltip show only one of the y axis value"
It should show burned and pool at the same tooltip for the given index

[2021-04-23 20:21] #422 closed

[2021-04-24 16:09] idkw opened #997 "Can't find LP tokens in liquidity pool V1 to remove them"
solved

[2021-04-24 16:18] idkw commented on #997
I can confirm this is definitely a bug affecting Brave.
I wan able to remove the tokens from the v1 pool using Firefox with the same metamask wallet.

[2021-04-24 21:05] eldiegod opened #999 "Can't remove LP from v2 liquidity pool"
Trying to remove liquidity from a test token approves but clicking on confirm on the pancakeswap modal does nothing.

I get this error in the console
[code]

[2021-04-24 22:58] cbijon opened #1000 "Adding icon for a token documentation"
Hello,
Sorry to come here, it's a bit of a last resort. Indeed I am desperately looking for a way to add our icon for our token and I get overwhelmed by telegram scammers. If a good soul could give me the procedure to follow to add our icon associated with our token on pancakeswap. 1000 apologies in advance .. don't hit me. Thank you very much for what you are doing. Best regards,

[2021-04-25 00:03] #1000 closed

[2021-04-25 12:36] Z666h commented on #999
Also having this problem ..

Confirm button isn't working when clicking on it to remove liquidity using LP cake tokens ..

Also, when I try to swap the other token for BNB, I'm getting this error "The transaction cannot succeed due to error: ds-math-sub-underflow. This is probably an issue with one of the tokens you are swapping."

:(

[2021-04-25 15:04] JordanLauriol commented on #999
I have the same problem.. i can't confirm too..

[2021-04-25 15:36] rudarobson opened #1001 "ARPs not getting loaded"
The ARPs values are not showing up on the syrup pools page nor in the farm pools.
This morning Farming pools ARPs were showing, but not anymore.
Stays "Loading" forever on farm pools or the Dash "-" forever.

It happens on chrome, mozila on pc and mobile also using Dapps tab on trust-wallet or metamesk with connected or not connected wallets. (The screen I submited was with a connected metamesk wa

[2021-04-25 15:56] Chef-Cheems commented on #1001
@rudarobson RPC node is chosen randomly out of 3 nodes we use each time you refresh the page, sometimes nodes are overloaded or have some other issues and stuff doesn't load. There's nothing really we can do, its up to Binance to sort that stuff out. Fortunately just refreshing the page works, but since node is chosen randomly you could refresh into the same node, in this case just refresh again.

[2021-04-25 16:35] Chef-Cheems commented on #1001
@rudarobson maybe you get super unlucky 20 times in a row, heh. The only other reason I can imagine is that your ISP is blocking all nodes. 🤔

[2021-04-25 18:00] rudarobson commented on #1001
Might be blocking, getting that unlucky is 0% chance. But yesterday and a few days before it was working, even this morning, I got almost 93% of ARP on Cake-Cake Syrup pool showing on my screen, and now, just a "-". Maybe tomorrow it gets unstuck, I'd just like to add some cakes to a Lp pool but I guess it won't happen xD. But thanks anyway!

[2021-04-25 18:03] rudarobson commented on #1001
Not even the cake current value is showing at the bottom left of the screen...it used to show...

[2021-04-26 06:27] Chef-Cheems commented on #1001
Hopefully it will sort out for you soon :)
Will close this issue since its not something we can affect.

[2021-04-26 06:27] #1001 closed

[2021-04-26 06:30] #990 closed

[2021-04-26 07:20] Chef-Cheems commented on #999
Can you try clicking `Receive WBNB`? Seems that it helps some people with similar issue.

![Screenshot 2021-04-26 at 10 19 13](https://user-images.githubusercontent.com/81824236/116043905-eef12700-a678-11eb-9490-7bcabfb99c41.png)

[2021-04-26 10:25] ChefHutch commented on #999
We can't read your contract details on bscscan, is it https://bscscan.com/token/0x065c277359FfEc8134ed06f7052DD8d8dFcbD03c?

Does your token contract refer to a router address?

Is it referring to the V2 router? https://bscscan.com/address/0x10ED43C718714eb63d5aA57B78B54704E256024E

[2021-04-26 19:50] eldiegod commented on #999
Interacting with the contract, setting setSwapAndLiquifyEnabled to false AND clicking on receive WBNB worked for me 👌

[2021-04-26 20:38] ChefHutch commented on #999
Excellent news! Are you able to share the token contract @eldiegod ? Did you have the token explicitly referencing a PCS router? Just curious as we have a couple of others with this issue that have tokens explicitly pointing to the PCS v1 router.

[2021-04-26 22:38] eldiegod commented on #999
I made the mistake to reference the old PCS v1 router, I did it on multiple contracts I was testing so for example this was one of them 0xf8f92f0e4cb755f1895b6ee7ee34537191eb375a

[2021-04-27 05:38] coded00guy commented on #999
Hello I had the same issue. I got to find out the token was having problem because it was a deflatory token. Now I need help in how I can softcode the router address instead of having it embedded in the code such that when pancakeswap does another update I am not able to swap on the previous version by migrating liquidity.

can anyone help with that?
Also, do I need to change the factory and LP ad

[2021-04-27 19:33] Z666h commented on #999
I've tried the WBNB thing, still getting same error .. the confirm button doesn't work ..
I am getting this on my console after I click the confirm button though

[2021-04-28 11:56] noblica commented on #976
Seems like this has already been addressed, since typing a query string no longer freezes the UI for me. So I'm going to close this issue for now.

[2021-04-28 11:56] #976 closed

[2021-04-28 18:36] dtompichayut opened #1025 "Lotterry time wrong and never start to sale ticket"
**Bug Description**
Time count in lottery page always show wait for tickets sale in xx minutes, despite it pass many hours.
The counter always show the minutes of the current hours when the round time count normally and make user cannot buy the tickets.

**Steps to Reproduce**

1. Go to Lottery page
2. See the time counter and you can see it mismatched
   ...

**Expected Behavior**
Time is count c

[2021-04-29 06:12] Chef-Cheems commented on #1025
@dtompichayut lottery is now suspended due to upcoming changes and ongoing voting, read more on [voting page](https://voting.pancakeswap.finance/#/pancake/proposal/QmU8pcbmBrfbfVQXMMxmkExDq3mYq4s5cbBuFe6uCZzdmX) and [twitter](https://twitter.com/PancakeSwap/status/1387419063454896130).

[2021-04-29 06:12] #1025 closed

[2021-04-29 07:37] jabelhouse commented on #999
I'm getting the same issue on a coin i created. In the contract I used V2 pancakeswap router and Ive set "setSwapAndLiquifyEnabled" to false aswell as "setMaxTxPercent" to 100. Ive also tried switching to WBNB and still getting similar errors in console

[2021-04-29 12:14] memoyil opened #1032 "Prediction final price tooltip disappears immediately when mouse leaves"

[2021-04-30 07:54] #1032 closed

[2021-04-30 07:54] heyimbrucelee opened #1042 "[BUG] Syrup pool : staked only / new pool auto CAKE"
In Syrup Pools, check staked only
--> the new pool auto CAKE is displayed even if im not in.

[2021-04-30 10:42] viktordev01 opened #1051 "Minor UI issue on Pools Page"
**Bug Description**
The "Add to Metamask" link doesn't have an hover style like other links in the ExpandedFooter component.
Other links in that component use LinkExternal component from the uikit while MetaMask link use Text component.
I was thinking to fix this by myself and make a pull request but i'm not sure which component you prefer to use for this one.
While reading the uikit code i found

[2021-04-30 10:57] memoyil commented on #1051
I would do that directly in that component by using styledcomponents, since changing text to link add also to arror at the end

`const MetamaskText = styled(Text)
  :hover {
    text-decoration: underline;
    cursor: pointer;
  }
`

and then

`   <MetamaskText
            color="primary"
            small
            onClick={() => registerToken(tokenAddress, earningToken.symbol, earningToken.dec

[2021-04-30 11:18] viktordev01 commented on #1051
Link component doesn't have the arrow icon (the component for that icon is called OpenNewIcon).
ExpandedFooter component use LinkExternal instead of Link,  because LinkExternal is essentially Link component + "arrow icon"(OpenNewIcon).
So i don't see the reason to use styledcomponents just for this, while there's an already written component for these situations.

[2021-04-30 11:29] memoyil commented on #1042
I think it is a feature not a bug :)

[2021-04-30 11:41] viktordev01 commented on #1051
Yeah you're right, i didn't think about that. But could be better to create a component in the uikit? Something like this could happen in the future in other components too.

[2021-04-30 11:44] memoyil commented on #1051
I would first do it in frontend directly, if we have more usage we can extract to uikit in the future

[2021-04-30 15:56] ChefHutch commented on #1051
Thanks both, we've caught this one in a tiny UI fix https://github.com/pancakeswap/pancake-frontend/pull/1058

[2021-05-01 00:02] chasingkirkjufell opened #1060 "Liquidity disappeared after migration to V2"
I migrated my liquidity from V1 and V2 and it was showing all the balances. Checking back a week later, the website does not show the liquidity. If you select wnav, contract address is 0xBFEf6cCFC830D3BaCA4F6766a0d4AaA242Ca9F3D, and eth, the website now shows there is no liquidity. Here is the smart contract address for the liquidity of wnav-eth. https://bscscan.com/address/0x0cc53e35801947c94de0b

[2021-05-01 08:59] realDahu opened #1061 "incorrect data on the ALICE-BNB farm"
**Bug Description**
After succefull contract, the amount stacked on ALICE-BNB LP is not visible on my farm.
![image](https://user-images.githubusercontent.com/83493816/116776708-4ffa6f80-aa6a-11eb-8dec-d1b4dad1958f.png)

But the total amount is clearly visible on yieldwatch
![image](https://user-images.githubusercontent.com/83493816/116776786-bbdcd800-aa6a-11eb-8d58-5bd22bedad1a.png)

**Steps to R

[2021-05-01 09:39] memoyil commented on #1061
This is not a bug. As of now only lp token amount is shown in farms page. It can be a feature request.

[2021-05-01 11:28] realDahu commented on #1061
I probably misspoke, please compare the stacked values on the two different sites. The value on yieldwatch (50.09 ALICE/1.34 BNB) does not equal to 0.000008132782983642 ALICE-BNB LP on pancakeswap

[2021-05-01 12:21] Chef-Chungus commented on #1061
Please share your address

[2021-05-01 12:23] memoyil commented on #1061
As you can see there LP-Tokens section you purchased 0.00 lp token (which should show you more decimals since ALICE-BNB price is so high) . Pancake shows you the exact amount of tokens without removingg the decimals.

[2021-05-01 14:08] realDahu commented on #1061
https://bscscan.com/tx/0xae445e2b66f8830a8cb399f328b88257b1c2716fa98488032e365b31a622f487

[2021-05-01 14:13] memoyil commented on #1061
The amount of LP-Token you have is correct. As you can see it in transaction details. This is because LP Token price is so high in ALICE-BNB farm.

<img width="1112" alt="Screenshot 2021-05-01 at 16 10 59" src="https://user-images.githubusercontent.com/2213635/116785100-06287e00-aa98-11eb-9a9b-0f1e3a0128f1.png">

[2021-05-01 14:22] realDahu commented on #1061
you say that : 0.000008132782983642 LP = 50 ALICE + 1.3 BNB = $1680 ?

[2021-05-01 14:25] memoyil commented on #1061
Not exactly, it depends on the liquidity pool (you should read ‘impermanent loss’ in liquidity pools)  but approximately yes you have that amount you wrote.

[2021-05-01 18:45] realDahu commented on #1061
thank you for the explanation and sorry for my mistake

[2021-05-01 18:45] #1061 closed

[2021-05-01 20:06] Alexkh-MA opened #1064 "Farm sort by earn doesn't sort"
**Bug Description**
I've noticed sorting by "earned" isn't working properly.

**Steps to Reproduce**

Prerequisites:
Farms with earnings: 0,009, 0,0020, 0,151.

1. Go to farms view
2. Click on sort by earning
3. Observe, farm with earning 0,151 is at the bottom

**Expected Behavior**
Farm with earning 0,151 is in the top

**Additional Context**
I might be wrong, but looks like in the sorting handl

[2021-05-01 20:15] marcmayo commented on #999
@jabelhouse do you know why this happens?

[2021-05-02 01:36] #1064 closed

[2021-05-02 10:59] memoyil commented on #646
@Chef-Chungus we can close this issue

[2021-05-03 08:33] AsimTariq opened #1088 "Cannot access Trade"
Hi,

I am trying to use BSC testnet to create liquidity pool, i cloned the project and made it run on my localhost. The problem is when i tried to click on "trade --> exchange" the URL pointed to production-URL (exchange.pancakeswap). I replaced that with localhost but i am not able to enter those sections.

All other sections is working fine. Have i missed something i need to do?

I changed this

[2021-05-03 09:09] #1088 closed

[2021-05-03 12:13] viktordev01 opened #1094 "Predictions collect winning transaction bug"
**Bug Description**
Hi, because i didn't find any repo with the predictions contracts source code, i'm posting here this bug.
When trying to collect winnings, sometimes after collecting them, the button for claim winnings doesn't disappear. If i try to collect them again, instead of an error, there's a transaction with an abnourmous gas fee. I don't know what can happen if someone try to accept an

[2021-05-03 14:39] memoyil commented on #1094
On which button are you collecting the winnings?

[2021-05-03 14:49] viktordev01 commented on #1094
in this example the one in the Prediction card and not from history. But it happened multiple times. Even if i collect from history, sometimes the collect winnings button in the Prediction card doesn't disappear and if i try to collect winnings two times in a row there's always a transaction (like the one in the screenshot) with 0.2+BNB  gas fee.

[2021-05-03 14:50] memoyil commented on #1094
Are you sure you successfully collect you winnings when you do the first transaction?

[2021-05-03 14:54] viktordev01 commented on #1094
Yes. It happens only when i succesfully claimed my winnings. I checked multiple times because it was really strange. And as i said it happened multiple times.

[2021-05-04 10:47] viktordev01 commented on #1094
I noticed that you have made many updates, but this bug still happen atleast to me.

[2021-05-04 10:50] memoyil commented on #1094
It has not merged yet

[2021-05-04 14:17] memoyil opened #1105 "Language selected cannot be seen after refresh"
**Bug Description**
A clear and concise description of the bug.

**Steps to Reproduce**

1. Select a language (let's say italian)
2. Select another language (french)
3. Select Italian again
4. Refresh the page
5. It shows you French instead of Italian

**Expected Behavior**
It should show you last selected language

[2021-05-05 12:34] viktordev01 commented on #1094
I was playing a round of predictions and markets stopped again. When trying to claim the refund, instead of refund transactions there's a transaction with 0.22+ gas fee (similar to the one of double claim bug).
So i can't claim my 0.01BNB refund for that round. I don't know if it happened to other people too.
![Cattura](https://user-images.githubusercontent.com/33573324/117141444-d4245e00-adae-11e

[2021-05-05 12:36] memoyil commented on #1094
Have you tried changing your gas limit?

[2021-05-05 12:38] viktordev01 commented on #1094
Yes but it reject the transaction. Anyways, now that predictions are online again it worked and i claimed my refund. I

[2021-05-05 23:14] #1105 closed

[2021-05-05 23:29] #1042 closed

[2021-05-05 23:38] #1094 closed

[2021-05-06 06:19] #648 closed

[2021-05-06 10:50] viktordev01 commented on #1094
I'm sorry to say this, but this bug appeared again.
The error in metamask says "ALERT: Transaction Error. Exception thrown in contract code.".
![Cattura](https://user-images.githubusercontent.com/33573324/117286541-9c2e2100-ae69-11eb-8e6c-77127e45ac8d.PNG)

[2021-05-06 10:52] memoyil commented on #1094
Collect Winnings button seen again after you collected successfully?

[2021-05-06 10:52] viktordev01 commented on #1094
yeah.

[2021-05-06 10:53] memoyil commented on #1094
Immediately or after some time?

[2021-05-06 10:54] viktordev01 commented on #1094
immediately and if i cancel it and try to make a bet on another round it displays the old balance. If i refresh the page most of the times it disappear (but not always).

[2021-05-06 10:57] memoyil commented on #1094
Ok but thats another bug "if i cancel it and try to make a bet on another round it displays the old balance (and not the updated one with winnings claimed)" can you open another bug report for it?

[2021-05-06 11:12] viktordev01 commented on #1094
what i want to say is that when the claim button appear two times in a row, balance in the next round card doesn't update.
The old bug is still here, but i noticed this other one too (and when i said "if i cancel the transaction", i meant the one with 0.2+ gas fee).
Because history works fine (the claim button appear only one time), i'm thinking that probably the error is inside the code that upda

[2021-05-06 17:29] freshmove opened #1137 "social url change"
![LogoTextNewWhite](https://user-images.githubusercontent.com/83570700/117340417-797a2780-aebe-11eb-9e49-f81337cc2297.png)
from where i cant change the url of twitter and telegram because i cant find in code pleasee help me in which folder and path i can replace the url of both social

[2021-05-06 23:10] LeandroLS opened #1138 ""Stake Liquidity Pool (LP) tokens to earn." in farm page is not translated to pt-BR"
**Bug Description**
"Stake Liquidity Pool (LP) tokens to earn." in farm page is not translated to pt-BR
**Steps to Reproduce**

1. Go to home page.
2. Change language to Brazilian Portuguese
3. Go to Farm page

**Expected Behavior**
"Stake Liquidity Pool (LP) tokens to earn." should be "Para obter ganhos, coloque tokens do Pool de Liquidez (LP)."

[2021-05-07 06:19] memoyil commented on #951
@hachiojidev We can close this issue since we changed our implementation

[2021-05-07 06:21] #951 closed

[2021-05-07 06:21] memoyil commented on #545
@Chef-Chungus Issue can be closed

[2021-05-07 06:22] memoyil commented on #1051
@Chef-Chungus Can be closed, pr has been merged

[2021-05-07 08:09] memoyil commented on #1094
@viktordev01 there is a fix has been merged lately, can you check it again? (the issue of button appears again)

[2021-05-07 08:36] ChefHutch commented on #1137
This isn't an issue with our codebase, closing.

[2021-05-07 08:36] #1137 closed

[2021-05-07 09:08] viktordev01 opened #1151 "Issue with License of pancake frontend (and some other repositories too)"
Hi, i saw that this repo and many others doesn't have a license file. I think it could be a problem when someone want to fork a repo and make another project with pancake codebase.
I saw for example that pancake-farm repo has the WTFPL license. I think it could be better to put a License (even if it is WTFPL) because otherwise it could be a problem when people integrate it with code of other licen

[2021-05-07 09:10] viktordev01 commented on #1094
I played some rounds and for now it works without problems.

[2021-05-07 10:34] viktordev01 commented on #1094
Unfortunately, it happened again, but before it was almost every round, now it happen slightly less.

[2021-05-07 10:56] memoyil commented on #1094
Could that be a leftover code on your cache maybe? Can you clean your browser cache and try it again?

[2021-05-07 11:32] viktordev01 commented on #1094
Yeah. And i forgot to add that instead of round cards, now it happen inside of history tab because of claim winning button popup.
The popup doesn't appear always and when it appear there's a slightly delay between the appearing of claim button inside the round card and the popup. This is why i said that now it happen slightly less. There's something wrong with the popup.

[2021-05-07 11:34] memoyil commented on #1094
If it is just a delay, I think there should not be a problem no?

[2021-05-07 11:52] viktordev01 opened #1154 "Predictions balance discrepancy between round cards and actual balance"
**Bug Description**
Sometimes when placing a bet after claiming prize, the balance inside the round card doesn't update so it is less than the actual balance.

![Cattura1_LI](https://user-images.githubusercontent.com/33573324/117445786-6b1e2100-af3b-11eb-996f-af6af32ac355.jpg)

[2021-05-07 12:03] stetorm commented on #545
I started last version on develop branch but I can't see. I was speaking about Liquidity Pool not Syrup Pool; and by the way launching locally I see only 2 of my 3 staked pool (which I can see on official url).
![Schermata del 2021-05-07 14-00-26](https://user-images.githubusercontent.com/3285138/117446880-09f74d00-af3d-11eb-8215-60e8ac10b031.png)

[2021-05-07 12:05] memoyil commented on #545
The first picture that you showed is taken from pools instead of farms, thats why i said it is implemented already

[2021-05-07 12:24] #1138 closed

[2021-05-07 12:38] stetorm commented on #545
Yes it think he showed how he would have the same information also in liquidity pool. So what do you want to do with this issue and this feature? I available to try to implement it even it would be my first one, I'd like to collaborate, let me know.

[2021-05-07 12:48] stetorm commented on #545
Ok thanks @memoyil ! So what do u think @Chef-Chungus ?

[2021-05-07 14:07] daftpump opened #1159 "Add DaftCoin logo on Pancakeswap :)"
Hello guys!

I'm the Dev of DaftCoin we are listed on CoinMarketCap and Coingecko, here :
https://coinmarketcap.com/currencies/daftcoin/
https://www.coingecko.com/en/coins/daftcoin

We contacted your support for add our logo on Pancakeswap with no response!
Can you have a look please for add our logo on Pancakeswap! Thanks !

http://daftco.in/images/logo200x200.jpg

If you need to contact me you c

[2021-05-07 19:54] padew01 opened #1162 "My bug"
**Bug Description**
A clear and concise description of the bug.

**Steps to Reproduce**

1. Go to ...
2. Click on ...
   ...

**Expected Behavior**
A clear and concise description of what you expected to happen.

**Additional Context**
Add any other context about the problem here (screenshots, whether the bug only occurs only in certain mobile/desktop/browser environments, etc.)

[2021-05-10 23:18] daftpump commented on #1159
![Capture d’écran 2021-05-10 à 23 21 47](https://user-images.githubusercontent.com/5670968/117735870-af891580-b1f6-11eb-86bb-91926d0ed339.png)

[2021-05-11 00:38] mrkwskiti opened #1175 "Add Liquidity stuck approving."
**Bug Description**
When I add liquidity between BNB and ALPA that has a bsc transaction fail but add liquidity page stuck in approving.

**Steps to Reproduce**

1. Go to Add liquidity page
2. Select inputs is BNB and ALPA
3. Click on max button in ALPA section
4. Create transaction form trust wallet
5. Transaction has failed [transaction ref](https://bscscan.com/tx/0x8cc5020d451c6586464b988438b72

[2021-05-11 12:40] Ubaid488 opened #1184 "Exchange CORS error with api.crowdin.com"
**Bug Description**

A CORS issue was noticed.

**Steps to Reproduce**

1. Go to https://exchange.pancakeswap.finance/#/swap
2. Check the console

**Additional Context**
Due to this when swapping, its stuck on approving.

**Error Description**
Access to XMLHttpRequest at 'https://api.crowdin.com/api/v2/projects/422458/languages/en/translations?fileId=6&limit=200' from origin 'https://exchange.panc

[2021-05-11 16:40] daftpump opened #1186 "Liquidity is locked : could you migrate our LP ?"
Hi,

People ask us that they can't buy DAFT on Pancakeswap V1.

Our liquidity is locked until September.. : as you can see here : https://cryptexlock.me/pair/0x97adfd64293cD7356abc5a89C9F3736728358bDB

Could you migrate the LP to Pancakeswap V2 ? please.

[2021-05-12 16:50] masterkain opened #1191 "TESTNET Unhandled Rejection (Error): call revert exception (method="balanceOf(address)"..."
trying to run the interface on testnet

![screencapture-localhost-3000-2021-05-12-18_49_10](https://user-images.githubusercontent.com/12844/118013868-de1c0300-b352-11eb-83fc-d88c8061ac86.png)

[2021-05-14 05:34] atropos0902 opened #1204 "Please share exchange feature for V2 like Uniswap"
We'd love to have exchange functionality in `pancake-frontend` repo

[2021-05-15 05:44] chenxsan opened #1213 "Logout won't work on mobile safari"
**Bug Description**
`Logout` button wont work on mobile safari.

**Steps to Reproduce**

1. Open the site in safari
2. `Connect` with `WalletConnect` and use Trust Wallet to login
3. After loginned, click the address button at the top to open the modal to `Logout`, the page would be redirected indicating I'm signed out.
4. Click the `Connect` again, it just login automatically which is wrong.

**E

[2021-05-15 17:04] menino898 commented on #997
I've been through that. I know how to solve and help you recover 100% of your BNB.

My telegram:

@mito99

[2021-05-15 18:53] menino898 commented on #999
Hi bro.

I know how to solve your problems.

I have already helped to recover several BNBs from people who had already lost.

Call me on my telegram:

@ mito99

[2021-05-17 05:26] TimberTang opened #1220 "how to custom default theme"
import { MimoTheme } from '../theme'

declare module 'styled-components' {
  /* eslint-disable @typescript-eslint/no-empty-interface */
  export interface DefaultTheme extends MimoTheme {}
}

export const baseColors = {
  failure: "#ED4B9E",
  primary: "#FF0000",
  primaryBright: "#53DEE9",
  primaryDark: "#0098A1",
  secondary: "#7645D9",
  success: "#31D0AA",
  warning: "#FFB237",
};

and i sett

[2021-05-17 05:34] Chef-Cheems commented on #1220
You mean in the UIKit storybook or front-end?
If you're talking about front-end then you need to build the UIKit and use updated kit in the FE. In storybook it should happen automatically of course.

[2021-05-17 05:56] TimberTang commented on #1220
emmm. future will implement the feature?

[2021-05-17 05:56] TimberTang commented on #1220
emmm. future will implement the feature?

[2021-05-17 06:12] Chef-Cheems commented on #1220
There is nothing to implement, its just about how you handle the packages locally. If you changed something in UIKit it will not reflect in the front-end cause you probably just use UIKit from npm there.
So for now you just build and link local package to front-end, easiest is just copy dist to FE node_modules, or you can try yarn link (but it might be really flaky).

[2021-05-17 07:42] TimberTang commented on #1220
emmm . iam useing pancakeswap-libs/uikit/
and can i use custom theme replace in ThemeContext

[2021-05-18 12:12] #1220 closed

[2021-05-18 16:08] #1162 closed

[2021-05-18 16:10] ChefKai commented on #1159
Hello, please refer to this [link](https://docs.pancakeswap.finance/contact-us/business-partnerships#how-can-i-add-my-tokens-logo-icon) in order to add your logo on PancakeSwap. Thanks.

[2021-05-18 16:10] #1159 closed

[2021-05-18 16:12] #1051 closed

[2021-05-18 22:14] mastercheff-alfajor opened #1246 "api.pancakeswap.com/api/v1/price:1 broken"
Hi,
I have an issue to call this API endpoint in my jazzdefi.com
It's causing liquidity and APR not showing.
Could you please assist ASAP?

Thanks

[2021-05-19 20:20] xvalentino commented on #1213
I'm curious to look into this too, I've had some weirdness around logging in and out on mobile and on my macbook. Loggin in throught the Dapps on trust wallet works fine.

[2021-05-24 06:06] snapple42 commented on #1175
I don't know if I'm having the same issue,but when I click on supply liquidity, I'm getting the following error in the console:
, message: "Internal JSON-RPC error.", data: {…} }
​
code: -32603
​
data: Object { code: 3, message: "execution reverted: TransferHelper: TRANSFER_FROM_FAILED", data: "0x08c379a00000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000

[2021-05-25 08:09] ciruz opened #1336 "Lottery History Chart - Tooltip color"
Hey guys,

with this PR https://github.com/pancakeswap/pancake-frontend/pull/1245#issue-647038375 I improved the lottery history tooltip (notice the label border/bg - color).

Before:
![image](https://user-images.githubusercontent.com/987947/119462358-ec99ef80-bd40-11eb-9628-ab5da883ffe6.png)

After:
![image](https://user-images.githubusercontent.com/987947/119461932-81501d80-bd40-11eb-9e19-c7c593

[2021-05-25 08:22] krugster opened #1337 "Can’t connect to MetaMask wallet in Chrome on iOS"
**Bug Description**
Trying to connect pancakeswap to my MetaMask wallet via Chrome on iOS (latest versions installed). I have the MetaMask app installed.

Error received: Provider Error: No provider was found

**Steps to Reproduce**

1. Go to pancakeswap.finance
2. Click on Connect
3. Select MetaMask
4. Receive error: No provider was found

**Additional Context**
Works fine from desktop, issue see

[2021-05-25 08:23] memoyil commented on #1337
You should use Embedded Browser inside the Metamask app

[2021-05-25 08:25] krugster commented on #1337
Thanks for the quick response, that definitely works.

The issue still remains though that I can’t do it from Chrome as my browser of choice. And also that the error message isn’t very helpful.

[2021-05-25 08:28] memoyil commented on #1337
If you want the connect your wallet to the app with your standalone browser, you have to select WalletConnect and then select MetaMask.

[2021-05-25 08:29] krugster commented on #1337
Also looks like using "WalletConnect" from within pancakeswap on Chrome
works perfectly as expected, so perhaps the error message just needs
updating or for it to auto-redirect to WalletConnect

On Tue, 25 May 2021 at 09:24, memoyil ***@***.***> wrote:

[2021-05-25 08:29] krugster commented on #1337
Yup, and that all works great...just isn't obvious to a newbie like me.

On Tue, 25 May 2021 at 09:28, memoyil ***@***.***> wrote:

[2021-05-25 11:42] krugster opened #1341 "Show price of CAKE in local currency"
I only see the price of CAKE in USD...is it possible to set the interface to show a different currency?  Would be especially useful for seeing the fiat value of staked CAKE.

[2021-05-25 11:47] Chef-Chungus commented on #1341
It's planned but not in our near term tasks

[2021-05-28 13:25] eldiegod opened #1383 "Buying token errors out adding a 1 to the final digit of the bought amount solves it"
Buying token errors out but adding a 1 to the final digit of the bought token amount solves it for some reason?
Anyone knows how to fix this issue, I encounter it so often and we have left quite a bit of new holders on the table due to this.

**Steps to Reproduce**

1. Go to https://exchange.pancakeswap.finance/#/swap?outputCurrency=0x1a46d794ea19d9b93828fe5a1b96bfab5eed015a

2. Try to buy a small

[2021-05-31 16:04] T-V-N commented on #1186
https://www.youtube.com/watch?v=dQw4w9WgXcQ

https://www.youtube.com/watch?v=dQw4w9WgXcQ check the video on how to migrate it yourself

[2021-06-02 13:56] ChefKai commented on #1154
Hello, this issue has been fixed; feel free to open a new issue if this happens again. Thanks for your report

[2021-06-02 13:56] #1154 closed

[2021-06-02 13:57] ChefKai commented on #732
This is live as of today, closing.

[2021-06-02 13:57] #732 closed

[2021-06-02 14:00] #500 closed

[2021-06-02 23:38] jrmcdona opened #1425 "Bunch of errors in the PCS UI and I cannot remove LP"
**Bug Description**
Bunch of errors in the PCS UI and I cannot remove LP

**Steps to Reproduce**

1. GO to https://exchange.pancakeswap.finance/#/remove/0x1019Af172015Ef5b12A2e6E26233f85aBdcb8D77/BNB
2. View chrome console
3. GET https://exchange.pancakeswap.finance/locales/en-US.json trhows 404
4. Access to XMLHttpRequest at 'https://api.crowdin.com/api/v2/projects/422458/languages/en/translation

[2021-06-03 01:11] jrmcdona commented on #1425
this solved my LP removal issue.  Still some errors

![image](https://user-images.githubusercontent.com/4327773/120570920-bd3d4f80-c3de-11eb-8db6-8f24e2688a87.png)

[2021-06-03 01:11] #1425 closed

[2021-06-03 21:00] namirpapi commented on #1213
I do swap on pancake and you transferrred my token to another guys why ?
![Uploading 8B5161C5-3519-4B69-95BA-318F39DA0105.jpeg…]()

[2021-06-04 09:36] #1184 closed

[2021-06-04 15:56] jilam07 opened #1440 "Cannot scroll down in the exchange's manage token page"
**Bug Description**
Cannot scroll down in the exchange's manage token page

**Steps to Reproduce**

1. Go to Exchange page
2. Import 10 or more tokens
3. Open Manage Token page
4. Cannot scroll down the list to delete some tokens at the bottom

**Expected Behavior**
Can scroll down and remove some tokens at the bottom of the list

**Additional Context**
Cannot scroll down to delete the tenth token

[2021-06-05 03:51] iketiunn opened #1441 "[Prediction] Implicit error message when setting position with a long digits"
**Bug Description**
When you input/slide a number like "0.0016734964032423141" will cause an error in console:
[code]

**Steps to Reproduce**

1. Go to Set Position
2. Input / Slide a number with digits length > 18
3. Click on  "Confirm"

**Expected Behavior**
Should expect we bet successfully or prompt an error message instead of print in console.

**Additional Context**
- This error is rare but

[2021-06-05 04:10] Chef-Chungus commented on #1441
Bnb only has 18 decimals.

You can't bet with greater than 18 decimals

[2021-06-05 04:16] iketiunn commented on #1441
Yes, and probably input should restrict that too.

On Sat, Jun 5, 2021 at 12:10 PM Chef Chungus ***@***.***>
wrote:

[2021-06-05 13:30] philiparthurmoore opened #1444 "Wrapping BNB into WBNB returned "Insufficient ETH Balance" UI Message"
**Bug Description**
When wrapping BNB into WBNB the message `Insufficient ETH Balance` is shown when 1) there is enough BNB and 2) that should say `BNB` and not `ETH`.

**Steps to Reproduce**

1. Go to https://exchange.pancakeswap.finance/#/swap?outputCurrency=0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c
2. Wait for a bit or not, or enter a number or not, all steps sort of end here.

![CleanShot 202

[2021-06-05 13:34] philiparthurmoore opened #1445 "Successful wrapping of BNB into WBNB shows ETH to WETH message"
**Bug Description**
After successfully wrapping BNB into WBNB the following message appears.

<img width="260" alt="CleanShot 2021-06-05 at 20 32 23@2x" src="https://user-images.githubusercontent.com/28684/120893382-42be3b00-c63d-11eb-9a94-b74c18ce2728.png">

**Steps to Reproduce**

1. Go to https://exchange.pancakeswap.finance/#/swap?outputCurrency=0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c
2. Wr

[2021-06-07 03:08] #1441 closed

[2021-06-07 10:24] aress31 opened #1455 "estimateGas failed removeLiquidityETHWithPermitSupportingFeeOnTransferTokens"
I am unable to remove liquidity, could you please assist with:

[code]

![image](https://user-images.githubusercontent.com/11601622/121001084-d188a000-c782-11eb-8b3a-076230d54f34.png)

[2021-06-07 14:36] pankace opened #1459 "i hace to contribute to this don't I lol"

[2021-06-07 22:55] aress31 commented on #1455
It is an urgent issue, help?!

[2021-06-08 08:52] ChefKai commented on #1445
Hello; thank you for your report, this issue has been fixed!

[2021-06-08 08:52] #1445 closed

[2021-06-08 10:16] memoyil opened #1468 "Translations not applied to error messages when language changes"
To reproduce the issue

1. Open webpage from a browser which doesn't have wallet extension
2. Click connect
3. Click any wallet such as metamask
4. See error message
5. Change language
6. Try again
7. See error message language is the same

[2021-06-09 00:03] #1468 closed

[2021-06-09 04:21] guanbinrui commented on #1204
Vote for yes!

[2021-06-09 07:34] memoyil commented on #1468
@hachiojidev uikit side should also be merged to fix the issue

[2021-06-09 14:43] MohammedALREAI opened #1480 "i hope to work with you in this project"
### Hello Everybody.

 I'm looking for a developer proficient in **React+Typescript** to get functions from open source.
Here is the git link. Plz check and if you are confident, let's chat via PM.
really I Hope to work with you.

[2021-06-10 23:50] matbrgz commented on #1480
?

[2021-06-11 00:44] MohammedALREAI commented on #1480
![image](https://user-images.githubusercontent.com/31209091/121614418-4ac81180-ca67-11eb-806c-31d8ea3ed4da.png)

[2021-06-12 21:09] devakrishna33 opened #1493 "Blank screen when trying to load farms"
**Bug Description**
Blank screen appears when I search for a "bmxx-bnb" pair on farms page, I looked at the console and it showed "TypeError: Cannot read property 'pid' of undefined".

[2021-06-13 09:11] memoyil commented on #1493
What is your steps to reproduce the problem?

[2021-06-13 09:23] frandal68 opened #1494 "Unable to scroll modal to accept and import new token in search at mobile resolution"
**Bug Description**
The problem occurs when I access to mobile version of the swap page; when selecting a currency not listed and trying to import it by address, the token is found but the layout doesn't allow anymore to scroll the content to the accept check and import button.

I faced this problem yesterday, previously I never had any issue importing tokens by address

**Steps to Reproduce**

1.

[2021-06-13 12:39] memoyil commented on #1493
@devakrishna33 Use farm table view for now, issue will be fixed in farm cards view

[2021-06-13 13:43] memoyil commented on #1493
<img width="1154" alt="Screenshot 2021-06-13 at 15 40 56" src="https://user-images.githubusercontent.com/2213635/121809701-1f5b4780-cc5e-11eb-83c7-c9aa70ae0dea.png">

Click this button to enable table view

[2021-06-13 14:58] devakrishna33 commented on #1493
@memoyil Thaks, that seems to work

[2021-06-13 14:58] #1493 closed

[2021-06-13 15:58] Wolfthorne opened #1496 "Blank white page when loading farms section"
**Bug Description**
When navigating to farms it initially loads but goes to a blank white page.

**Steps to Reproduce**

1. Go to farms
2. Wait for page to turn white

**Expected Behavior**
Page should load

**Additional Context**
Add any other context about the problem here (screenshots, whether the bug only occurs only in certain mobile/desktop/browser environments, etc.)
![image](https://user-i

[2021-06-13 17:24] memoyil commented on #1496
@Wolfthorne Use farm table view for now, issue will be fixed in farm cards view

<img width="1154" alt="Screenshot 2021-06-13 at 15 40 56" src="https://user-images.githubusercontent.com/2213635/121816624-fb5b2e80-cc7c-11eb-8fdc-6094f0e7a665.png">

[2021-06-13 18:15] memoyil commented on #1337
@krugster you can close the issue, if it is resolved for you

[2021-06-13 18:17] memoyil commented on #1336
@hachiojidev we can close this issue

[2021-06-14 09:23] memoyil commented on #1496
@hachiojidev issue is fixed, we can close it

[2021-06-15 11:51] maxim-engr opened #1512 "how to custom default theme"
import { MimoTheme } from '../theme'

declare module 'styled-components' {
export interface DefaultTheme extends MimoTheme {}
}

export const baseColors = {
failure: "#ED4B9E",
primary: "#FF0000",
primaryBright: "#53DEE9",
primaryDark: "#0098A1",
secondary: "#7645D9",
success: "#31D0AA",
warning: "#FFB237",
};

and i setting primary color to red . but the theme display defalut pancake theme .

[2021-06-15 17:15] krugster commented on #1337
Well I'm not sure it's actually resolved since you still can't connect by
clicking the very obvious "MetaMask" option from a 3rd party browser and
there's no error message pointing you towards the WalletConnect option
instead.

On Sun, 13 Jun 2021 at 19:16, memoyil ***@***.***> wrote:

[2021-06-16 17:56] claasahl commented on #1213
I am having the same issue when using PanCakeSwap (in the Trust Walltet app on my android smartphone).

1. open Trust Wallet app and switch to "DApps" tab
2. open PanCakeSwap
3. I see that I am logged in (top right button shows my wallet address)
4. press the top right button and press "Logout"
5. the top right button changes to "Connect"
6. refresh page
7. I see that I am logged in (top right but

[2021-06-16 18:43] #1512 closed

[2021-06-17 10:31] aaronash commented on #554
People seem to have been having similar issues with the Binance wallet, do you have the same issue with Metamask?

[2021-06-17 10:33] bogdanIuga commented on #554
works ok with metamask for me

[2021-06-17 10:40] aaronash commented on #554
It sounds like this could be a wallet issue rather than pancake - I believe all wallets communicate over the same interface

[2021-06-19 09:50] ChefKai commented on #1496
Thanks for fixing!

[2021-06-19 09:50] #1496 closed

[2021-06-25 17:09] danielomontero opened #1576 "The tooltips do not work in the desktop version"
**Bug Description**
When placing the pointer over the texts that contain tooltips, they do not work in the desktop version.

**Steps to Reproduce**

Go to any view where there are texts with tooltips and try to position the pointer over one of those texts
   ...

**Expected Behavior**

Tooltips are very helpful to help understand information that is sometimes not visible to the naked eye, therefor

[2021-06-25 18:00] Chef-Cheems commented on #1576
@danielomontero what browser (and OS) are you using? I just checked on Chrome, Brave, Firefox and Safari and they all work for me 🤔
Can you also provide browser version in case this is the issue with old browser.

[2021-06-25 18:17] danielomontero commented on #1576
@Chef-Cheems  It's true, I just verified that this only happens on one of my laptops, I tried on another laptop that I have available, and if it works, then I think the problem is me.

[2021-06-25 18:17] #1576 closed

[2021-06-27 11:47] ChefNina commented on #1480
Hello Mohammed,
I don't think it's our offer. You can check ours here:
https://docs.pancakeswap.finance/hiring/become-a-chef

[2021-06-27 11:47] #1480 closed

[2021-06-27 11:47] #1459 closed

[2021-06-27 11:53] ChefNina commented on #545
Let me close it as the implementation is done. Please check them in farms/pools!
https://pancakeswap.finance/farms
https://pancakeswap.finance/pools
Thanks @julienbourgainpro for flagging!

[2021-06-27 11:53] #545 closed

[2021-06-27 11:54] ChefNina commented on #646
Thanks @memoyil, let me close this.

[2021-06-27 11:54] #646 closed

[2021-06-27 11:57] ChefNina commented on #997
I close it as the reporter found the solution by themself.

[2021-06-27 11:57] #997 closed

[2021-06-27 12:01] ChefNina commented on #1336
@ciruz @memoyil Thank you for your supports!

[2021-06-27 12:01] #1336 closed

[2021-06-30 17:01] Shofol opened #1622 "Can't use npm-link with pancake-frontend"
**Bug Description**
I'm trying to use ```@pancake-uikit``` locally with ```pancake-frontend```. Wanted to see how the UI changes with uikit component changes. But after linking the frontend can't find the ```@pancake-uikit``` module.

**Steps to Reproduce**

1. Go to ```@pancake-uikit``` package from ```@pancake-toolkit```
2. Run ```npm-link``` on ```@pancake-uikit``` folder
3. After finishing lin

[2021-07-05 07:59] #1494 closed

[2021-07-05 08:00] frandal68 commented on #1494
the modal now is scrollable

[2021-07-05 08:35] Flaming19 opened #1645 "Subgraph is Very Slow"
Current Subgraph is very slow
https://bsc.streamingfast.io/subgraphs/name/pancakeswap/exchange-v2

Could you please provide some way so that we can use subgraph of pancake to build some thing for users.

[2021-07-05 12:45] jcosta191 opened #1647 "https://profile.pancakeswap.com or https://pancake-profile-api.vercel.app/"
Please guys, with you are a decentralized dApp you must show all your code to people know where is putting the money!
Do you can share the vercel code app from the url "https://profile.pancakeswap.com" to get information about the profile, leaderboard, teams, that connect to thegraph "Profile" and "TradingComepetitionV1"?
Continue with the great job!
Thanks

[2021-07-05 20:30] ChefKai commented on #1645
Hello, we managed to improve the performance of the subgraph queries; please let us know if you have any issue! Thanks.

[2021-07-05 20:30] #1645 closed

[2021-07-06 08:45] Flaming19 commented on #1645
Thankyou,
Our App is using 3queries [Top Tokens, New Tokens, Hot Tokens].
New and Hot token queries are working fine now. But Top Tokens queries are still taking more time.
Query For top tokens:
{
  pairs(first: 50 orderBy:volumeUSD
    orderDirection:desc){
      id
      token0{
      symbol
      name
      id
      derivedBNB
      derivedUSD
      tradeVolumeUSD
      totalLiquidity
      }

[2021-07-06 20:07] jcosta191 commented on #1647
When i say vercel code i'm talking about the repo "pancake-profile-api"

[2021-07-07 17:02] trungnqpro commented on #1622
should use yarn link instead of npm link, but i got this error, dont know why
`Type 'DefaultTheme' is not assignable to type 'DefaultTheme | ((theme: DefaultTheme) => DefaultTheme)'.
  Type 'DefaultTheme' is not assignable to type '(theme: DefaultTheme) => DefaultTheme'.
    Type 'DefaultTheme' provides no match for the signature '(theme: DefaultTheme): DefaultTheme'`

    `<ThemeContext.Provider

[2021-07-07 17:05] Shofol commented on #1622
Tried with '''yarn-link''' too. But couldn’t run the application.

[2021-07-08 06:14] surendrapathak01 commented on #1622
+1
Same case here

[2021-07-08 06:16] surendrapathak01 commented on #1622
In my case, I had to install types manually after running yarn link.

[2021-07-09 14:51] matbrgz opened #1691 "Status of OpenSource Community"
Is this project open to the contribution of community? As I could see, there is no open roadmap.

[2021-07-11 07:59] Shofol commented on #1622
Didn't ```styled-components``` make any error? Can you please describe your procedure?

[2021-07-11 17:07] surendrapathak01 commented on #1622
Yes it did, installing types fixed some errors. But there was another error with ThemeProvider after that, this is not solved yet.

[2021-07-13 08:58] RabbitDoge commented on #1691
It is, you can read our guidelines https://docs.pancakeswap.finance/code/contributing

[2021-07-13 08:59] RabbitDoge commented on #1647
It's already OS

[2021-07-13 08:59] #1647 closed

[2021-07-13 09:08] #1440 closed

[2021-07-13 09:09] RabbitDoge commented on #1204
https://github.com/pancakeswap/pancake-frontend/pull/1639

[2021-07-13 09:09] #1204 closed

[2021-07-13 09:11] #599 closed

[2021-07-13 09:13] RabbitDoge commented on #1191
Some contracts are not available on testnet

[2021-07-13 10:23] jcosta191 commented on #1647
Where is the source code of pancake-profile?
Can you send the link please?
Very thankful

[2021-07-13 12:08] jcosta191 opened #1708 "Where is the source code of pancake-profile-api?"
Where is the source code of pancake-profile-api?
Can you send the link please?
Very thankful

_Originally posted by @jcosta191 in https://github.com/pancakeswap/pancake-frontend/issues/1647#issuecomment-878968131_

[2021-07-14 01:13] 0xMaxim opened #1710 "TrustWallet Connection on Mobile Browers"
I just installed trustwallet app on both iPhone and iPad, and it is unable to connect with trustwallet, and just showing `Provider Error`.

[2021-07-14 01:22] ChefNina commented on #1710
You have TrustWallet app newer than v6.0?
Then that does not have dapp browser and you can't connect if you choose "TrustWallet" directly from browser UI but you have to use WalletConnect.
Here is the guide:
https://community.trustwallet.com/t/using-walletconnect-to-access-pancakeswap/212307

If you have the further question, please ask at our telegram community:
https://t.me/PancakeSwap
Remember

[2021-07-14 01:22] #1710 closed

[2021-07-14 11:22] sahajkedia opened #1719 "The application isn't running, some error"
C:/USER/Desktop/f2/src/state/hooks.ts
TypeScript error in C:/Users/Sahaj Kedia/Desktop/f2/src/state/e/hooks.ts(63,14):
Argument of type 'AsyncThunkAction<Farm[], number[], {}>' is n not assignable to parameter of type 'AnyAction'.
  Property 'type' is missing in type 'AsyncThunkAction<Farm[],], number[], {}>' but required in type 'AnyAction'.  TS2345

    61 |     const pids = farmsToFetch.map((fa

[2021-07-14 17:01] hnovellaapps opened #1724 "Installation Issues"
Dear friends
I have some problems for test the web in local mode.
I install yarn and some dependencies, but when I do the yarn start (yarn run v1.22.10 / nodejs 14), I got this error:

"Failed to compile.

Failed to load config "@pancakeswap/eslint-config-pancake" to extend from.
Referenced from: E:\MEGA\Trading\swap\pancake-frontend-develop\.eslintrc  "

The web is launched in local port: http://

[2021-07-15 03:41] medeirosfalante commented on #1719
in src/state.ts have line typedof define
export const useAppDispatch = () => useDispatch<AppDispatch>()

[2021-07-15 07:44] Mjavala commented on #1719
Ran into the same error, based on @medeirosfalante reply here's how I fixed it
- go to ``src/state/index.ts``
- change the following line: ``export const useAppDispatch = () => useDispatch<AppDispatch>()`` to
- export const useAppDispatch = () => useDispatch()

[2021-07-15 08:36] RabbitDoge commented on #1708
@ChefKai

[2021-07-16 02:47] RabbitDoge commented on #554
does anyone still have this problem ?

[2021-07-16 03:05] #1151 closed

[2021-07-16 14:35] Mjavala commented on #1191
I was able to solve this (assuming you have correctly added necessary contracts) by changing the dev environment RPC urls to the testnet.

[2021-07-17 09:00] subham9777 opened #1745 "[BUG] Pancakeswap profile setup isn't working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am trying to setup pancakeswap's nft profile and while the part where we need to submit a name comes i write a non taken name and after clicking on submit it keeps loading forever. I tried this 7 times now and i have been charged more than 4$ for approving my nft now.

### Expected Behavior

[2021-07-17 09:00] Chef-Chungus commented on #1745
What is the error you receive?

[2021-07-17 09:01] Chef-Chungus commented on #1745
@ChefKai is there anything wrong with the API at the moment?

[2021-07-17 12:25] subham9777 commented on #1745
Console shows this and the submit button keeps on going

Uncaught (in promise) Error: Extension context invalidated.
    at content.js:1
    at new Promise (<anonymous>)
    at g (content.js:1)
    at Object.apply (content.js:1)
    at content.js:1
    at content.js:1
    at Object.next (content.js:1)
    at content.js:1
    at new Promise (<anonymous>)
    at t (content.js:1)

[2021-07-17 13:51] subham9777 commented on #1745
@Chef-Chungus  i removed the cache files and all the cookies and then tried again. It worked. I can close this now. Thanks

[2021-07-17 13:51] #1745 closed

[2021-07-17 19:03] KurtBoltHelp commented on #1724
Hello, have you found a solution to it ?

[2021-07-17 19:05] KurtBoltHelp commented on #1708
Hello, have you been able to rectify this ?

[2021-07-17 19:07] chimpydev commented on #1708
No, they dont care at all! They dont share the repo!

[2021-07-17 22:27] hnovellaapps commented on #1724
Yes, installing and using GIT:

https://git-scm.com/download/win

[2021-07-18 06:13] kashirin-dm opened #1748 "[BUG] Tooltips outside the screen"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have problems with tooltips anywhere. But in the screenshot problem on the Swap page. There I try to select any token and tap on the question button.
As a result, I get the help tooltip, but outside the screen.

![photo_2021-07-18_11-58-46](https://user-images.githubusercontent.com/40428935

[2021-07-18 13:59] polaris-labs opened #1751 "BSC Wallet connect issue"
I tried to connect bsc wallet on both my desktop and mobile devices, but failed so far.

Is there any solution available for now?

[2021-07-19 06:02] RabbitDoge commented on #1751
Can you provide more information ?

[2021-07-19 06:54] ryan85118 opened #1755 "The undefined error occurred in the swapping"
This state will happen when I use BNB(BSC-1) to swap to any coin.
![image](https://user-images.githubusercontent.com/54787650/126115963-540d4372-b0e4-4ffc-80c2-69cbf5169d0d.png)

[2021-07-23 09:59] jcosta191 commented on #1708
Sir they don't share with us

[2021-07-23 20:43] KurtBoltHelp commented on #1708
Don’t get you ?

On Fri, Jul 23, 2021 at 5:59 AM jcosta191 ***@***.***> wrote:

[2021-07-26 07:38] ChefKai commented on #1708
Hello, thanks for your interest; the codebase will be released this week! 🎉

[2021-07-27 02:42] #1691 closed

[2021-07-27 02:43] #1724 closed

[2021-07-27 05:18] MrFatoni opened #1788 "heavy load pancakeswap"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current Behavior

browser sending 2000++ request to rpc

![image](https://user-images.githubusercontent.com/47595359/127099517-ee3b943f-7504-4631-aab6-e1816e99b5cb.png)

### Expected Behavior

.

### Steps To Reproduce

.

### Environment

[code]

### Anything else?

_No response_

[2021-07-27 06:04] Chef-Chungus commented on #1788
@MrFatoni - This isn't an issue as far as I can tell from your report.

There is high load because there is lots of data to load.

If you think there are unnecessary requests, please be more descriptive.

[2021-07-28 12:42] Abubakar672 opened #1796 "Lottery Smart Contract"
Which Smart contract repository are you using for the Lottery purpose. The current repository is archieved.

[2021-07-29 04:11] matilareo opened #1800 "PANCAKE.INFO - PAIR STATS"
Hi guys, where can i found the code for this page?

https://pancakeswap.info/pool/0xD171B26E4484402de70e3Ea256bE5A2630d7e88D
![Screenshot from 2021-07-29 01-08-26](https://user-images.githubusercontent.com/57819962/127430251-dfc63d57-2af8-4eea-bc8d-24ab502dd5ce.png)

**I need to know how to calculate the "LP REWARD APR" and the "LP REWARD FEES 24H", THANK YOU !**

[2021-07-29 05:48] Chef-Cheems commented on #1800
Hi!
We're in the process of migrating info site code into this repository. Right now it's temporarily in private repo. Please check back in a week or so.

[2021-07-29 05:50] matilareo commented on #1800
Hi! thanks for answering me. It would be very helpful if you can provide me the way that **LP REWARD APR** is calculated. Is for an exercise of a job interview :)

[2021-07-29 08:28] Chef-Cheems commented on #1800
@matilareo APR is based on past week trading volume `const lpApr7d = (volumeUSDWeek * LP_HOLDERS_FEE * WEEKS_IN_YEAR * 100) / LPLiquidity` where LP_HOLDERS_FEE is `0.0017` , i.e. 0.17% you earn by being aliquidity provider. Other data received from StreamingFast.
`LP REWARD FEES 24H` is just `volumeUSDinLast24hours * LP_HOLDERS_FEE`

[2021-07-29 11:51] matilareo commented on #1800
@Chef-Cheems Awesome! Thank you so much!

[2021-07-29 11:51] #1800 closed

[2021-07-30 08:17] ChefKai commented on #1708
Repository has been open-sourced at [pancakeswap/pancake-profile-api](https://github.com/pancakeswap/pancake-profile-api)

[2021-07-30 08:17] #1708 closed

[2021-08-02 13:42] chef-bun opened #1824 "[BUG] Removing avatar breaks the page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Page goes blank

Console log errors:
<img width="535" alt="MBP3-2021 08 02-092701PM-Google Chrome_Your Profile | PancakeSwap - $15 859" src="https://user-images.githubusercontent.com/87682841/127871749-f0218ff4-ef38-45d1-8623-400cd3a47123.png">

### Expected Behavior

Page loads correctly

##

[2021-08-03 10:20] ChefKai commented on #1824
Fixed with #1825, closing.

[2021-08-03 10:20] #1824 closed

[2021-08-05 00:48] #1788 closed

[2021-08-05 00:51] Chef-Chungus commented on #1748
@kashirin-dm - I've just tested, can't reproduce so this seems to be resolved now. I'll close for now, If the issue still exists for you, please reopen this ticket.

[2021-08-05 00:51] #1748 closed

[2021-08-05 00:52] Chef-Chungus commented on #1796
We are currently using a repo titled pancake-contracts. However, it's not open source right at this moment.

We will be open sourcing it shortly after we clean it up.

[2021-08-05 00:52] #1796 closed

[2021-08-05 00:58] Chef-Chungus commented on #999
Closing due to 2 months of no activity - If any of you have this issue still, please create a new ticket

[2021-08-05 00:58] #999 closed

[2021-08-05 00:59] Chef-Chungus commented on #1060
@chasingkirkjufell your liquidity didn't disappear. It's likely you added it into the wrong location.

I'll close this for now, but if you're still having this issue please feel free to open this ticket again

[2021-08-05 00:59] #1060 closed

[2021-08-05 01:01] Chef-Chungus commented on #1175
This tends to happen due to periods of high network congestion on BSC. I'll close this now as it should be resolved, however, if you're still experiencing this, please feel free to open another ticket.

[2021-08-05 01:01] #1175 closed

[2021-08-05 01:04] Chef-Chungus commented on #1383
@eldiegod - This happens on tokens with high fees. For example, safemoon with a 12% fee. You need to simply increase your slippage higher to prevent the errors from occuring.

Regarding adding one decimal onto it resulting in bypassing the error, we are aware of this and are investigating. I'll create a separate issue for this.

[2021-08-05 01:04] #1383 closed

[2021-08-05 01:12] Chef-Chungus opened #1843 "[BUG] While trading a token with a fee on transfer, you can bypass slippage settings by modifying the final digit of the amountOut"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://user-images.githubusercontent.com/71833681/128275594-101bc64c-4e87-4682-9afa-74ab1cc4552f.mov

### Expected Behavior

I would expect to still receive the error, even when changing the final digit of the amoutOut

### Steps To Reproduce

1. go to https://pancakeswap.finance/swap
2. Sel

[2021-08-05 01:19] Chef-Chungus opened #1844 "[BUG] "{Amount} CAKE" & "through community auctions so far!" aren't using the correct text colors on dark mode."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<img width="1123" alt="Screenshot at Aug 05 10-17-19" src="https://user-images.githubusercontent.com/71833681/128276074-948ab005-314b-46b1-b609-f8b4578894ed.png">

### Expected Behavior

Text should be using the correct variant so it's visible while on dark mode.

### Steps To Reproduce

1. h

[2021-08-05 01:23] Chef-Chungus commented on #1341
This has now been assigned and will be started soon

[2021-08-05 01:24] Chef-Chungus commented on #1246
@mastercheff-alfajor please use the subgraph instead

[2021-08-05 01:24] #1246 closed

[2021-08-05 01:25] Chef-Chungus commented on #1213
This has been resolved a couple weeks ago

[2021-08-05 01:25] #1213 closed

[2021-08-05 01:27] Chef-Chungus commented on #1622
@hachiojidev is there any guidance you can provide?

[2021-08-05 01:29] Chef-Chungus commented on #1337
This is a general crypto wallet usability issue. We're trying to work out ways to resolve this, but it's not really a simple task to solve. I'll close this as your initial question is resolved, but the enhancement suggestion can be broken into a new issue.

[2021-08-05 01:29] #1337 closed

[2021-08-05 01:30] Chef-Chungus commented on #1455
This is an issue with the node you were connecting to. I'm assuming this is resolved now. Please re-open if you are still experiencing this issue

[2021-08-05 01:30] #1455 closed

[2021-08-05 01:31] Chef-Chungus commented on #1186
@daftpump we can not migrate liquidity for projects. Only projects can migrate their own liquidity.

[2021-08-05 01:31] #1186 closed

[2021-08-05 01:32] Chef-Chungus commented on #1755
@RabbitDoge - Is this still an issue, do you know?

[2021-08-05 01:36] Chef-Chungus commented on #1191
@masterkain - I'll be closing this now as there hasn't been any action in a couple months. IF you're still experiencing this issue, please let us know in a new issue.

[2021-08-05 01:36] #1191 closed

[2021-08-05 01:38] Chef-Chungus commented on #1719
@sahajkedia - are you still experiencing this issue?

[2021-08-05 02:15] hachiojidev commented on #1622
We have had an ongoing issue with typing the default theme. Try declaring the theme like so

[code]

[2021-08-05 02:24] Chef-Chungus commented on #537
@RabbitDoge - Can you please assign a reward amount to this task?

[2021-08-05 04:05] #1844 closed

[2021-08-05 07:05] Chef-Chungus commented on #1751
@polaris-labs as there has been no response for a while, we will be closing this. Please create a new ticket if you're still having this issue.

[2021-08-05 07:05] #1751 closed

[2021-08-05 09:42] ChefNina opened #1848 "[BUG] Text colour of "tokenA/tokenB Burned" is too dark on remove liquidity window at night mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Text colour of "tokenA/tokenB Burned" is too dark on remove liquidity window at night mode, it's a bit hard to see.

![image](https://user-images.githubusercontent.com/82930772/128328670-4f76a9cf-62f2-464b-b9f9-167619f121fa.png)

### Expected Behavior

The colour of all texts are enough clear

[2021-08-05 13:00] daftpump commented on #1186
@Chef-Chungus you migration has dump our token volume, with this message alerting of LP migratio

[2021-08-05 17:25] shiningazure opened #1850 "[BUG] Metamask - Token Lost during pancake swap, it doesn't transfer to correct address somehow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I use pancake swap using Metamask wallet and do a swap from BNB to PVU Token.
Steps :
1. Open pancake swap and connect to metamask
2. Do the swap (0.7 BNB to 5PVU)
3. Confirm

Transaction id : https://bscscan.com/tx/0x4947fb08c69e163f3925884327125acee94e08708d3913b457e6fa1be25a1d79
![image](h

[2021-08-06 03:00] Chef-Chungus commented on #1850
![image](https://user-images.githubusercontent.com/71833681/128449345-6c9a8bfb-b3e2-4b62-ae5e-c0dcffdb020f.png)
The PVU is in your wallet. I will be closing this as it's not a bug.

You simply need to add the token to your wallet for it to display.

[2021-08-06 03:00] #1850 closed

[2021-08-06 03:05] shiningazure commented on #1850
1 PVU is from the swap i did on metamask swap, not the pancake swap. The pancake swap one is 5 PVU.

Pancake swap transaction id :
https://bscscan.com/tx/0x4947fb08c69e163f3925884327125acee94e08708d3913b457e6fa1be25a1d79

The transaction id of the metamask swap you mentioned is : https://bscscan.com/tx/0x428828d0079cc083ca9ce5356e8091a08b1d78f7d346825d1ab46a3790b11479

[2021-08-06 03:40] Chef-Chungus commented on #1850
https://bscscan.com/address/0x13c7dd34da7734cc6beaf9b3edbe4e32a2dff7b9#tokentxns
If this address is not your own, I recommend checking to ensure you were visiting the correct URL for PancakeSwap and/or checking to make sure you don't have malware on your device.

If you were to use a malicious site, they can change the recipient address of the swap and receive the tokens into their wallet instead

[2021-08-06 08:53] Chef-Chungus commented on #1848
@ChefHutch assigning this to you fam. Please clear within 7 days.

[2021-08-07 03:23] atropos0902 opened #1858 "Lottery to fork"
I am trying to make a lottery system by forking PCS lottery features.
But looks like it's in WIP.
Is there any branch or commit # for working on for lottery?

[2021-08-07 23:47] jjs2484 opened #1860 "[BUG] External swap URL links fail to load output currency"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Hi,

Have noticed external swap URL links recently began to fail to load the output currencies. Has the URL format changed?

### Expected Behavior

Click external URL swap links and it loads input and output currencies.

### Steps To Reproduce

1. Click external links to load swap output curr

[2021-08-08 00:10] fleon commented on #1860
You have `swap` twice in the URL. The URLs should be:

example 1 - https://pancakeswap.finance/swap?outputCurrency=0xcf9f991b14620f5ad144eec11f9bc7bf08987622

example 2 - https://pancakeswap.finance/swap?outputCurrency=0xdb8d30b74bf098af214e862c90e647bbb1fcc58c

These URLs work.

[2021-08-08 01:26] jjs2484 commented on #1860
thanks

[2021-08-08 01:26] #1860 closed

[2021-08-09 08:09] ChefHutch commented on #1848
Nice one thanks Nina - simple fix here https://github.com/pancakeswap/pancake-frontend/pull/1866

[2021-08-09 08:26] #1848 closed

[2021-08-09 15:30] Speedevs opened #1873 "ADD LEVERAGE IN PANCAKESWAP"
Pancakeswap need leverage for us to short and long shitcoin thanks

[2021-08-10 04:36] Chef-Chungus commented on #1873
Thanks for the suggestion

[2021-08-10 04:36] #1873 closed

[2021-08-10 04:36] Chef-Chungus commented on #1858
Currently the v2 lottery is in a private repo, which will be open sourced at a later date once everything inside the repo has been audited.

[2021-08-10 04:36] #1858 closed

[2021-08-10 06:13] Chef-Chungus commented on #1755
@ryan85118 - I'm unable to reproduce this issue, so i'll close this for now. If this still exists, would you please create another issue?

[2021-08-10 06:13] #1755 closed

[2021-08-10 18:05] quentincaffeino opened #1881 "[Feature Request] Make it load faster"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem you are facing?

I'm always frustrated with how long it takes to load even a landing page.

### Describe the solution you'd like

I'm not very familiar with the project to give any advice. But decreasing bundle size is a pretty obvious idea.

### How does this featu

[2021-08-10 18:36] aldoromo88 commented on #1881
Is it really too slow on your end?
It feels quite good to me even that I have a pretty bad connection speed, also considering that a lot of data is being queried from BSC I don't think there is too much room for improvement.

[2021-08-10 18:49] quentincaffeino commented on #1881
I would say I have okayish connection. We can look at [pagespeed rating](https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fpancakeswap.finance%2F), I think it perfectly shows that the problem is present. Theoretically the improvement should be possible. Not sure if it is possible technically with this project though.

[2021-08-10 19:39] Chef-Cheems commented on #1881
Hi!
We're actually discussed it a lot recently. As mentioned in the [July recap medium post](https://pancakeswap.medium.com/pancakeswap-july-recap-a-lot-o-lotto-e285518fb874):

We’ll be taking a short break from pumping out new features to spend a few weeks focusing on code maintenance and performance updates, so we can keep scaling efficiently without compromising on performance.

We have identif

[2021-08-11 00:56] hachiojidev commented on #1719
@sahajkedia What version of node are you running? Are you sure you have installed the latest dependencies (most importantly Typescript)?

[2021-08-11 04:30] sites-hubix opened #1882 "[BUG] cannot get current network on create profile"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

IFO

### Current Behavior

Error cannot get current network in the last pass on create profile (developer console), after select my available user stay freeze and do not enable the confirm button

After the error can not confirm the creation successful of my profile.

I try two times and i have to pay

[2021-08-11 05:20] aldoromo88 commented on #1881
Hey @Chef-Cheems, make a bounty list for those performance issues that are already identified
I'll be glad to participate, and a lot of other devs over here for sure

[2021-08-11 06:26] uzair-ropstam opened #1883 "Cannot add new token in farms section"
Hi,
I have to add PUG-BUSD in farms section.How I can get the process identifier (PID) of PUG token ?

PUG: https://bscscan.com/token/0xd7753a812f57C7A55197844193B49c3d93aD06A4

Also did not found PUG in https://github.com/pancakeswap/pancake-frontend/blob/master/src/config/constants/farms.ts

Following are current code changes.
// farms.ts
{
    pid: [ID], // where to get this pid
    lpSymbol: '

[2021-08-11 15:24] 56vgamer opened #1891 "Failed to compile src\hooks\useAuth.ts & src\utils\web3React.ts / NOOB NEEDS HELP FROM GENIUSES"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Open Admin Powershell in pancakeswap-frontend-develop folder > npm run start > localhost:3000 browser page shows up with

Failed to compile
src\hooks\useAuth.ts
  Line 3:36:  Unable to resolve path to module '@binance-chain/bsc-connector'  import/no-unresolved

src\utils\web3React.ts
  Line 3

[2021-08-11 18:21] ChefNina opened #1895 "[BUG] "make a profile" or "Your profile" in wallet symbol at top right doesn't work on iOS."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Other

### Current Behavior

Clicking "make a profile" or "Your profile" in wallet symbol menu at top right doesn't work.

### Expected Behavior

If users click "make a profile" or "Your profile" in wallet symbol menu, they can go to the corresponding page.

### Steps To Reproduce

1. Click the wallet

[2021-08-11 22:03] chris-iwolf opened #1897 "SPA links don't work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Other

### Current Behavior

Direct links like `https://domains.com/swap` don't work.
It worked on localhost but when I uploaded to hosting / vps, it shows 404.
It seems `_redirects` doesn't work.

### Expected Behavior

Go to direct link https://domain.com/pool or refresh, the SPA would load content.

[2021-08-12 01:45] #1895 closed

[2021-08-12 02:32] RabbitDoge commented on #554
No update so I close, feel free to reopen is the problem persists

[2021-08-12 02:32] #554 closed

[2021-08-12 02:36] RabbitDoge commented on #1881
As Cheems mentioned , the team is currently working on the performances issues

[2021-08-12 02:38] RabbitDoge commented on #1883
The farm config file contains on chain data. If there is not existing farm for a pair, adding it to the config file won't work

[2021-08-12 02:40] RabbitDoge commented on #1891
- Uses yarn and not npm
- Install dependencies before running the app
- If you are on Windows, uses gitbash

[2021-08-12 02:43] RabbitDoge commented on #1897
Hard to help without seing your code, but it's mostly related to a misuse of create-react-app or react-router.
Internal linking should be done with react-router, external linking should be done with `<a>` tag/

[2021-08-12 03:22] hachiojidev commented on #1897
@chris-iwolf Are you redirecting all your traffic to `index.html`?

[2021-08-12 03:27] hachiojidev commented on #1882
@sites-hubix Is there any other information you can give us? I just tried myself and had no issue (using basically the same setup you have).

[2021-08-12 04:24] foletrim commented on #1883
@RabbitDoge, Thanks for your response.Can you please guide, How can i add PUG in chain data ?
It is already added in token list.
<img width="1473" alt="Screen Shot 2021-08-12 at 9 19 04 AM" src="https://user-images.githubusercontent.com/82560568/129138053-5541a42e-6293-4d45-9360-207af6885478.png">

[2021-08-12 08:30] chris-iwolf commented on #1897
It's original code from pancakeswap repo. The only thing changed is domain settings.

Yes, `/*    /index.html   200` in `_redirects`

[2021-08-12 23:38] sites-hubix commented on #1882
Hi, Thanks, I put all my cake coins in the farm, give me a couple hours to buy and try again, i get the same error but under the complete profile button show the message that i need 0.5 cake

[2021-08-13 02:43] Chef-Chungus commented on #1883
@foletrim -  the farms are business agreements with projects.
If you wish to apply for a farm, you can apply for the farm auctions

[2021-08-13 05:12] foletrim commented on #1883
@Chef-Chungus ,
I'm trying for farm auctions but the form is for V2. currently project is running on v1.
when will v2 added in open source code ? or any migration guide ?
Thanks

<img width="1670" alt="Screen Shot 2021-08-13 at 9 48 18 AM" src="https://user-images.githubusercontent.com/82560568/129307486-11a26fa5-38da-4ffc-af7d-48227e8ff468.png">
<img width="1680" alt="Screen Shot 2021-08-13 at 10

[2021-08-13 09:10] Chef-Chungus opened #1909 "[BUG] Link to trade on PancakeSwap (from INFO) is incorrect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Info

### Current Behavior

https://pancakeswap.info/token/0x7130d2a12b9bcbfae4f2634d864a1ee1ce3ead9c

Click "Trade" it links to: https://exchange.pancakeswap.finance/#/swap?inputCurrency=0x7130d2a12b9bcbfae4f2634d864a1ee1ce3ead9c

This link does not pre-load the currency.

### Expected Behavior

http

[2021-08-13 11:06] #1909 closed

[2021-08-13 11:06] ChefKai commented on #1909
Deployed today; closing.

[2021-08-13 12:52] ChefKai opened #1911 "[BUG] Searching a token using a checksummed address doesn't work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Info

### Current Behavior

Searching a token using his *checksummed* smart contract address doesn't work

### Expected Behavior

Smart contract address should be lower-cased before being included in the search query to the subgraph, allowing the token to be found

### Steps To Reproduce

1. Go to htt

[2021-08-15 04:29] AndriKusumaBhakti opened #1914 "[BUG] <title>Unexpected token"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Other

### Current Behavior

/home/dsi/Downloads/rainbow/pancake-frontend/node_modules/p-limit/index.js:29
		} catch {}
		        ^

SyntaxError: Unexpected token {
    at createScript (vm.js:80:10)
    at Object.runInThisContext (vm.js:139:10)
    at Module._compile (module.js:616:28)
    at Object.M

[2021-08-15 06:26] AndriKusumaBhakti opened #1915 "Failed to compile"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Other

### Current Behavior

src/hooks/useAuth.ts
  Line 3:36:  Unable to resolve path to module '@binance-chain/bsc-connector'  import/no-unresolved

src/utils/web3React.ts
  Line 3:30:  Unable to resolve path to module '@binance-chain/bsc-connector'  import/no-unresolved

Search for the keywords to

[2021-08-15 06:40] AndriKusumaBhakti commented on #1891
i got the same thing. i am using ubuntu 16:04 and yarn. is there any solution regarding my case?

[2021-08-16 10:45] foletrim commented on #1883
@Chef-Chungus ,
I'm using following repositories:
front-end: https://github.com/pancakeswap/pancake-frontend
swap: https://github.com/pancakeswap/pancake-swap-interface-v1 (**archived now**)

Do I need to change the swap repository ?

[2021-08-17 07:46] devacer11 commented on #1455
Getting same error when I click Continue button
![pcs_Capture](https://user-images.githubusercontent.com/74443899/129685070-b548d3a0-f446-42fe-b787-608b7484726c.PNG)

This is my contract on BSC
https://bscscan.com/address/0x8add0afad6f2617c0fa5cc4ebac1162b8ab2a07c#code

Pls help, thanks!

[2021-08-17 08:20] easy2020i commented on #999
Same Error :(

![pcs_Capture](https://user-images.githubusercontent.com/75439352/129690427-d4cfb34c-6488-428e-8bfd-8314ab563d7c.PNG)

This is my contract on BSC
https://bscscan.com/address/0x8add0afad6f2617c0fa5cc4ebac1162b8ab2a07c#code

Pls help, thanks!

[2021-08-17 08:20] easy2020i commented on #1455
Same Error :(

![pcs_Capture](https://user-images.githubusercontent.com/75439352/129690516-8b55b5ae-015d-4950-9173-5cf66f8a090a.PNG)

This is my contract on BSC
https://bscscan.com/address/0x8add0afad6f2617c0fa5cc4ebac1162b8ab2a07c#code

Pls help, thanks!

[2021-08-17 23:47] sahlawiz opened #1934 "Link me"

[2021-08-18 01:57] Z666h commented on #999
I tried for weeks looking for help and nobody even reached out to me.
Many frustrating hours later I figured out a solution..
Hit me up on telegram @xZ666o
I might be able to help you out.

[2021-08-18 06:44] #1934 closed

[2021-08-18 15:54] gomel-tdl1 opened #1940 "Help to understand what is sousId in pools config"
I researched your repository for educational purposes and came across the config of the pools, for a long time I could not understand what this array consists of and especially could not understand what it is sousId. Please help me guys.
![image](https://user-images.githubusercontent.com/61886955/129930802-519fc9ec-2257-4cfc-9f0a-385ea4573d07.png)

[2021-08-18 18:05] menino898 commented on #999
I can try to help you.
My telegram: mito99

[2021-08-19 01:20] hachiojidev commented on #1914
@AndriKusumaBhakti You will have to provide some more information. What version of Node are you using? What were you trying to do?

[2021-08-19 06:22] Mentors4EDU opened #1944 "[BUG] Custom Address Not Recognized"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Farms

### Current Behavior

Hi, when I try adding the custom address for [0x3e3b357061103dc040759ac7dceeaba9901043ad](https://bscscan.com/token/0x3e3b357061103dc040759ac7dceeaba9901043ad) it won't recognize it on Pancakeswap. Is there a way to whitelist it or manually make it recognized as this is a

[2021-08-19 17:09] #1944 closed

[2021-08-21 02:06] R-K-H opened #1959 "[BUG] If IPFS is not available, profile creation indicates no NFT found, even if wallet holds NFT"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Other

### Current Behavior

With IPFS down, the network request for fetching NFT data failed and the profile creation process was stuck with the Oops message which indicates a NFT cannot be found with the current wallet address. This is message not indicative of what is really going on and took some

[2021-08-21 02:11] R-K-H commented on #1959
<img width="1207" alt="Screen Shot 2021-08-20 at 10 10 55 PM" src="https://user-images.githubusercontent.com/1007667/130307310-fb973039-fcae-4db6-baf6-67e0978fcb17.png">

[2021-08-23 18:05] 0xBlockchain opened #1969 "How to fork PCS Smart contract including Lottery"
Is there any possible way to fork PCS with the latest smart contracts?

[2021-08-24 11:00] hachiojidev commented on #1940
@gomel-tdl1 It is just a unique identifier to get a pool config.

[2021-08-24 19:00] jasonrsadler commented on #1911
Is `pancakeswap-info-v2` private?

[2021-08-25 06:37] ShaunLWM commented on #1914
Update your Node version.
https://github.com/googleapis/nodejs-storage/issues/1223#issuecomment-648427815

[2021-08-25 11:28] Millertoken opened #1984 "i cnnnot start [BUG] <title>"
![image](https://user-images.githubusercontent.com/8120016/130782743-fcdd8043-8dfe-4774-ac06-d9df36b58a72.png)

1.npm install
2.npm start

but not success. how can i do

[2021-08-25 16:19] gomel-tdl1 commented on #1940
thank you)

[2021-08-25 16:19] #1940 closed

[2021-08-25 16:22] gomel-tdl1 opened #1985 "How to create new syrup pool"
Please help me search, how to create new syrup pool with my tokens.
I would be very grateful

[2021-08-27 11:24] edrdesigner opened #2004 "[BUG] Lottery page crash when clicking on "Details" for "Finished Rounds""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Lottery

### Current Behavior

When you open lottery page and click at Details from finished rounds it gives an error:

[code]

### Expected Behavior

You should check a property before try to execute a method, for instance

property?.toLocaleString() ?? DEFAULT_VALUE;

or

if (property != null && pro

[2021-08-27 15:21] alcyada opened #2006 "[BUG] Failed to compile"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Other

### Current Behavior

TypeScript error in /home/kingui/pancake-frontenit/src/hooks/useApproveCallback(86.7)

Argument of type "import("/home/kingui/pancake-frontend/node nodules/gethersproject/contracts/lib/index").Contract is not assignable to parameter of type import("/home/kingul/pancake-fro

[2021-08-28 00:40] alcyada commented on #2006
No I didn't

[2021-08-28 05:06] #2004 closed

[2021-08-28 13:08] alcyada commented on #2006
@tom-bowern can you help us with this?

[2021-08-28 13:10] tom-bowern commented on #2006
Unfortunately not I have the same issue :(

[2021-08-28 13:22] ShaunLWM commented on #1915
Same issue? https://github.com/pancakeswap/pancake-frontend/issues/1891

[2021-08-28 13:32] alcyada commented on #2006
Sad to hear.

[2021-08-28 21:10] ChefNina opened #2016 "[BUG] Easter Battle is live if the wallet is not connected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Other

### Current Behavior

Team Battle (Easter Battle) is "Now Live!" if the wallets is not connected.
![image](https://user-images.githubusercontent.com/82930772/131231013-8bf7f9f5-1184-4b85-a536-3f94b0b6d5cf.png)

### Expected Behavior

The status of Team Battle is shown properly even the wallet i

[2021-08-29 07:49] alcyada commented on #2006
@tom-bowern do you know of any alternative

[2021-08-30 05:03] AyuOKExChain opened #2024 "[BUG] <title>Cannot switch to BSC test network"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Farms

### Current Behavior

https://github.com/pancakeswap/pancake-frontend
I got the latest front-end code from the warehouse, and downloaded it locally for yarn.
Established the local env.local configuration file
An error is reported when switching to the testnet network after yarn start
I didn't m

[2021-08-30 05:51] #2016 closed

[2021-08-30 06:25] arbin304 opened #2025 "[BUG] Failed to compile src\components\Modal\ModalInput.tsx, Line 12:3: 'placeholder' PropType is defined but prop is never used react/no-unused-prop-types"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Other

### Current Behavior

Pancake-Frontend is throwing random Type errors when uikit is installed from symlinked project.
It runs fine when @pancake-uikit is installed from npm.
The errors I'm getting right now is given below.

[code]

### Expected Behavior

Being able to run pancake-uikit repo alo

[2021-08-30 09:56] hachiojidev opened #2029 "Show `<$0.001` when lock price and close price difference is less than 0.001"

[2021-08-30 10:15] Ashish-BITS commented on #2029
I want to work on this issue. Can I please be assigned to it?

[2021-08-30 12:34] hachiojidev commented on #2029
@Ashish-BITS Sorry, this has already been taken.

[2021-08-30 13:53] ashalfarhan opened #2033 "Fork on Testnet with my own Abi"
Hi, I'm new to blockchain/ smart contract integration from frontend, but i've done frontend for some months.

I'm trying to fork pancakeswap frontend, i'm using my own contract and abi, then i replace all the `IUniswapV2PairAbi` with my  own abi, also change all chain id to tesnet. And back then i saw that someone ask to do the same thing, and someone from Pancake team said that the sdk is only us

[2021-08-30 23:50] Kryptedbbkick opened #2034 "Unable to get farms to work with masterchef & website crashes when changing the masterchef address."
Ok so I managed to quickly get pancake swap front end up and running. I deployed my own Factory and Router using pancakes contracts with no changes. I am able to trade, sell, add liquidity to a token, remove liquidity from a token.

What I can not seem to do is get farm's to work. All farms that appear display there information from pancakes side. So when I deploy my MasterChef.sol contract with n

[2021-08-31 00:15] Kryptedbbkick commented on #2034
I managed to get staking to work tho the website still will not show stuff such as "APR and X value".

[2021-08-31 06:22] Kryptedbbkick commented on #2034
Put a few more hours into it and managed to fix the issue with the multiplier not displaying for the Farms and the crashing that occurs on the home screen. Though the last two issues I am still trying to resolve is the APR not displaying for my farms and home screen profile display not showing total
![01](https://user-images.githubusercontent.com/22475186/131452306-8b7c6c9c-18a5-420e-84f6-f9e92f59

[2021-08-31 08:11] #2029 closed

[2021-08-31 09:43] nghianguyen119 opened #2046 "[Feature Request] Decentralize Pancake Frontend"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem you are facing?

Pancake smart contracts are trustless and decentralized because they live entirely on-chain. But I found that the frontend of Pancake still requires a server to be alive.

Some other projects such as Uniswap, Balancer V1, Curve,... hosted their fron

[2021-08-31 10:28] Chef-Cheems commented on #2046
Those are all valid points.
I just want to add that [Akash Network](https://akash.network/) looks more interesting to me from developer point of view. I haven't compared Akash vs IFPS in terms of cost and ease of management so I wouldn't argue that its better.

[2021-09-01 04:50] rkpapps commented on #2034
I Stuck at same situation like you as you told i not found where is hooks.ts please clear how you solve the issue

[2021-09-01 05:06] Kryptedbbkick commented on #2034
You can find hooks.ts at (frontend>src>state>farms>hooks.ts)

The required lines needing change are on line (52)(109)(113)

Make sure these pids match your pids accordingly. So 251 should be Cake/BUSD and 252 BNB/BUSD. Though I have not fully figured out some other issues I am facing this is how I managed to get APR, and value of my token to finally appear. Though the value is incorrect. I am curr

[2021-09-01 05:40] Kryptedbbkick commented on #2034
I believe I have finally cracked it and got everything up and running perfectly. I will be creating a step by step guide for those who are interested as well as adding a step by step on here incase you just want to follow simple text. I will continue to update as I move along and finish up my goal of just getting a simple working pancake swap clone.

If I run in to anymore errors I will update the

[2021-09-01 06:05] rkpapps commented on #2034
Can we connect via telegram @techcsc i need you help

[2021-09-01 08:10] Kryptedbbkick commented on #2034
So I documented all changes I made. Started everything from scratch to test it out once more. I'm back to a crashing home screen, price being $0.000, and APR still not showing for some farms. With that changing the farm pid within the fetchFarmPrices and hooks file I am able to make it say $1.000 for some reason. The price should appear as just over $9.XXX. If anyone is able to assist with some bu

[2021-09-02 09:12] memoyil opened #2066 "[BUG] Page title stays the same when switch to Home page from Menu"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Other

### Current Behavior

Page title stays the same when switch to Home page from Menu

### Expected Behavior

Page title should change according to the current page

### Steps To Reproduce

Go to pancake website
Click an another page from menu
See title changes correctly
Then click Home
See page t

[2021-09-02 11:57] #2066 closed

[2021-09-02 12:08] Chef-Cheems opened #2072 "[Feature Request] Handle persisted redux storage better if new keys are added"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem you are facing?

Whenever we add new key to redux store that is persisted via local storage (e.g. `user`) it gets initialized imporperly. I.e. if you add key `lol` to `user` state and initialize the value to `kek` - when a user with user state saved in localstorage

[2021-09-02 12:32] Waltarb commented on #1455
![image](https://user-images.githubusercontent.com/19947202/131843840-5644f8d8-f550-41c8-a48a-99744efdf89b.png)
same problem here have been trying this for months now, same problem when I try with wbnb/high slippage or through the pancake router contract manually..

[2021-09-02 20:55] Chef-Cheems commented on #1911
Fixed with #1951 merge.

[2021-09-02 20:55] #1911 closed

[2021-09-03 00:09] hachiojidev commented on #2072
Consider using:

- Manual version number
- Get the version from package.json
- Use the latest commit hash

[2021-09-03 00:44] mastercheff-alfajor opened #2076 "Not possible to run in bsc testnet"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Other

### Current Behavior

I run pancake swap frontend but when I try to switch to bsc testnet it doesn't work.

### Expected Behavior

Working with testnet.

### Steps To Reproduce

BSC testnet
metamask connect
It doesn't allow me to run testnet in metamask

### Environment

[code]

### Anything el

[2021-09-03 01:54] mirufa1211 commented on #2034
Hi ! Thank you for your sharing! I want to ask about how to determine the pid for the Farms I created from the liquidity Pool or add a farm.

[2021-09-03 04:24] nslog11 commented on #2025
+1

[2021-09-03 07:34] Kryptedbbkick commented on #2034
I managed to get it up and running with Trading, Farming, and Pools. All work and display correct information. I narrowed down the crash on the home page that I previously thought to be that the website was trying to pull farm data and could not for some reason so it would crash. Truthfully it was pulling pool information that was requesting pid numbers from the farm's that did not exist within Ma

[2021-09-03 08:13] mirufa1211 commented on #2034
if as you describe , pid may be custom by owner but not has defined in masterchef. if i want using it , i can defined for cake-busd , bnb-busd custom pid and setting in hook.ts.
lpAddress i can get it on liquidity Pools for swaps ???
I using clone pancake for bsc testnet

Thanks you help me .

[2021-09-03 11:05] rkpapps commented on #2034
Finely crash has been fixed can you please guide on how to show apr

[2021-09-04 16:24] R-K-H commented on #1959
I just wanted to comment, it still seems like this issue is still ongoing. With the wave of new profile's being created I'm noticing a lot of people getting to a similar place in the profile creation step.

Perhaps failing to load the NFT content shouldn't prevent the ability to pick a profile image or continue the process? You'd need placeholder content for the NFTs, but at lease the user experie

[2021-09-04 22:54] mastercheff-alfajor commented on #2076
Hi @Chef-Chungus , do you have an update of this ticket?

[2021-09-05 23:25] R-K-H opened #2088 "[BUG] Voting totals not accurate"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Other

### Current Behavior

The current vote for HERO https://pancakeswap.finance/voting/proposal/QmVAAiVqeLSTZtSzMVHEwwAHoCKkZS9AM3FnH9rEX5V8oW is not reflective of the true voting total.

<img width="829" alt="Screen Shot 2021-09-05 at 7 20 46 PM" src="https://user-images.githubusercontent.com/1007

[2021-09-06 00:47] R-K-H commented on #2088
PR in to fix this https://github.com/pancakeswap/pancake-frontend/pull/2090

[2021-09-06 01:48] #1341 closed

[2021-09-06 02:01] R-K-H commented on #2088
Fix merged.

[2021-09-06 02:16] R-K-H commented on #2088
Sorry to re-open this. I should have waited for build to complete and verify. This is working for the approval votes, but it snaps back the declined.

See screenshot and video below:

<img width="409" alt="Screen Shot 2021-09-05 at 10 10 41 PM" src="https://user-images.githubusercontent.com/1007667/132151158-45c7390e-ad0e-4d06-80e7-698cc4f950a9.png">

https://user-images.githubusercontent.com/1007

[2021-09-06 02:19] hachiojidev commented on #2088
@R-K-H Nice catch, let me see what is going on.

[2021-09-06 02:19] R-K-H commented on #2088
Also the vote totals are changing as well..

<img width="611" alt="Screen Shot 2021-09-05 at 10 18 57 PM" src="https://user-images.githubusercontent.com/1007667/132151416-0d7cec70-a41f-4eba-96ad-9c988e919682.png">

[2021-09-06 02:24] R-K-H commented on #2088
It seems that is changes once the verify request is made.

<img width="1056" alt="Screen Shot 2021-09-05 at 10 22 38 PM" src="https://user-images.githubusercontent.com/1007667/132151641-81962500-6824-40b1-b26a-ce6ec5b30678.png">

[2021-09-06 02:32] R-K-H commented on #2088
Even the original number returned is bizarre looking at snapshot.org so seems like this might be deeper.

https://snapshot.org/#/cake.eth/proposal/QmVAAiVqeLSTZtSzMVHEwwAHoCKkZS9AM3FnH9rEX5V8oW

[2021-09-06 03:09] #2088 closed

[2021-09-06 09:27] ChefNina opened #2098 "[BUG] Collectibles - Claim button is visible even after the claiming deadline passed."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Other

### Current Behavior

The claiming deadline is passed already, but collectibles page still shows “Claim” button.
![image](https://user-images.githubusercontent.com/82930772/132593194-ee5f7040-5495-49b5-b4dc-be7d65cf1ba0.png)

### Expected Behavior

Once the claiming deadline is passed, "Claim"

[2021-09-06 09:35] memoyil commented on #2098
the image is missing

[2021-09-06 12:34] nghianguyen119 commented on #2046
That makes sense to me comparing with different decentralized storing projects!

From my perspective point of view, IPFS currently is the biggest decentralized storage network which is widely used by Web3 projects, like [Uniswap Interface](https://github.com/Uniswap/uniswap-interface/blob/main/.github/workflows/release.yaml#L49-L64), [Sushiswap DApp](https://github.com/sushiswap/sushiswap-interfac

[2021-09-06 20:01] R-K-H opened #2109 "[Feature Request] Provide visibility to permissions of wallet and ability revoke access to contracts"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem you are facing?

With the advent of DeFi some actions which from a user and security standpoint would be very nice to have at the fingertips are locked behind cumbersome UI, UX or CLI.

Even with uncommon exploits the ability to revoke access from a contract could b

[2021-09-07 02:16] Chef-Chungus commented on #2109
Thanks for the suggestion, @R-K-H

@ChefBugs - WDYT?

[2021-09-07 02:19] Chef-Chungus commented on #2076
@mastercheff-alfajor - We are aware of this and the PCS frontend doesn't currently support testnet. It's in our plans to add testnet support in the future once we have some time.

[2021-09-07 02:19] #2076 closed

[2021-09-07 16:53] MAhmedSaeedi opened #2125 "[BUG] TypeScript error in pancake-frontend/src/hooks/useApproveCallback.ts(86,7)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Other

### Current Behavior

pancake-frontend/src/hooks/useApproveCallback.ts
TypeScript error in pancake-frontend/src/hooks/useApproveCallback.ts(86,7):
Argument of type 'import("C:/pancake-frontend/node_modules/@ethersproject/contracts/lib/index").Contract' is not assignable to parameter of type 'im

[2021-09-07 19:26] batuhantastekin opened #2126 "Failed to compile"
I tried to compile frontend repo of Pancakeswap but I see "Failed to compile" error when I enter ```npm run start``` command.

Here is the error I see on localhost:3000

[code]

[2021-09-07 21:57] eliasbuchwald opened #2129 "eliasbuchwald"

[2021-09-08 00:29] #2129 closed

[2021-09-08 01:45] #1622 closed

[2021-09-08 01:45] #537 closed

[2021-09-08 22:18] ChefNina commented on #2098
re-updated the image!

[2021-09-08 22:19] memoyil commented on #2098
Fix is ready you can test it

[2021-09-09 01:14] #2098 closed

[2021-09-09 03:41] ls-jordan commented on #2125
Running npm update resolved this issue for me.

[2021-09-09 05:15] MAhmedSaeedi commented on #2125
npm update does get rid of this error but now there are new  errors
#2126

[2021-09-10 00:05] Squiji commented on #2126
Did you find a fix? Experiencing this error also.

[2021-09-10 08:19] batuhantastekin commented on #2126
Unfortunately, still the same

[2021-09-10 08:57] memoyil commented on #2126
Have you restarted your typescript and done yarn install ?

[2021-09-11 01:28] Squiji commented on #2126
Not OP but I have same problem. I tried doing yarn install, still compile error. What do you mean by restart typescript service?

[2021-09-11 01:31] Squiji commented on #2025
+1

[2021-09-11 05:35] ngocanhth commented on #2125
How to fix this bug: Type 'RunningEvent' is not assignable to type 'RunningEvent'. Two different types with this name exist, but they are unrelated.
Types have separate declarations of a private property '_listeners'. TS2345

I ran this code before about 2 months ago and it worked fine, until today I run it again it doesn't work, I guess there is some package update so it is no longer compatible w

[2021-09-11 05:51] ngocanhth commented on #2125
Fuck, It was a bug with the package setting, now it's working fine

[2021-09-11 05:54] MAhmedSaeedi commented on #2125
Can you share your fix ? Still stuck on this error. Thank you

[2021-09-11 13:33] rkpapps commented on #2034
Still Waiting for your Guide https://github.com/Kryptedbbkick

[2021-09-11 15:56] Mur-Token-BSC commented on #2125
me to same error

[2021-09-12 01:47] #1843 closed

[2021-09-12 01:47] #1719 closed

[2021-09-12 08:22] ngthtung commented on #2076
@Chef-Cheems
I wanna run my project in local and use testnet, I set up REACT_APP_CHAIN_ID in file .env.development is 97. It's seem like not work,
Do you have any document about setup local testnet ?

Thank you.

[2021-09-12 10:52] ngthtung opened #2165 "[Dev Question] Run pancake in testnet"
Hi team,

Currently, I'm clone this project and change REACT_APP_CHAIN_ID is my chain id but it's not work. Should I do some thing else? Do you have any document about setup local testnet like BSC testnet ?

I'm looking forward to hearing from you
Thank you.

[2021-09-13 07:16] mrparkersson opened #2170 "Cannot add new images"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Farms

### Current Behavior

App Doesn't permit an addition of images because it is too nested

### Expected Behavior

A simple challenge to test the mind skills and flow

### Steps To Reproduce

Make components clear and other features editable

### Environment

[code]

### Anything else?

_No respon

[2021-09-13 07:19] mrparkersson commented on #1915
install yarn dependencies  (type yarn  in terminal)
after installation
use yarn start not npm start.

[2021-09-14 01:15] cornerdev23 commented on #2125
Same error here, please share the fix

[2021-09-14 01:45] ShaunLWM commented on #2165
I have tried just changing the chain id to testnet but I think there are some things that are not set up for testnet yet. It just kept on crashing. Or maybe I'm wrong.

[2021-09-14 03:20] Chef-Chungus commented on #2170
This issue isn't reporting a bug? I'll be closing this - Bugs are for user-facing issues.

[2021-09-14 03:20] #2170 closed

[2021-09-14 04:37] MAhmedSaeedi commented on #2125
Cloning this repo again and using **yarn** instead of **npm install** , fixed this error for me.

[2021-09-14 04:37] #2125 closed

[2021-09-14 07:35] ngthtung commented on #2165
I change Ropsten, Kovan testnet -> it's work.
but cannot change my testnet

[2021-09-14 18:18] #2033 closed

[2021-09-14 19:15] Squiji commented on #2126
Updates?

[2021-09-15 01:45] #1882 closed

[2021-09-15 09:47] memoyil opened #2198 "[BUG] Duplicate navigation tab bar in swap page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Other

### Current Behavior

It has duplicate tab bar.

<img width="877" alt="image" src="https://user-images.githubusercontent.com/2213635/133411233-891cb1dc-4eff-4ad3-94f4-f2d386f0768d.png">

### Expected Behavior

It should show only one

### Steps To Reproduce

Go to swap
See duplicate tab bar

##

[2021-09-15 09:50] memoyil opened #2199 "[BUG] Footer navigation not working properly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Other

### Current Behavior

Footer navigation bar not working properly. When click nothing happens. 3 dot also shows nothing

<img width="381" alt="image" src="https://user-images.githubusercontent.com/2213635/133411631-40904b16-160b-49d1-9118-683f30c68f71.png">

### Expected Behavior

It should navi

[2021-09-15 10:45] memoyil opened #2201 "[BUG] Navigation tab bar in add liquidity not seen correctly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Other

### Current Behavior

Currently the navigation bar on input panels shown only partially and it cannot be scrolled up to see them

<img width="945" alt="image" src="https://user-images.githubusercontent.com/2213635/133419589-445139f8-cd9a-4515-9142-d5e9a8543a77.png">

### Expected Behavior

It s

[2021-09-16 01:49] #1897 closed

[2021-09-16 04:02] Chef-Chungus commented on #2199
@memoyil I can't reproduce this - please provide more contextual information

[2021-09-16 07:18] Chef-Chungus commented on #2198
@0xCorgi please remove these buttons
![image](https://user-images.githubusercontent.com/71833681/133567558-0dc678ed-e367-40b6-8475-ba4fb3e93192.png)

[2021-09-16 07:57] Chef-Chungus opened #2214 "[BUG] Tab system on INFO needs to be updated to match menu style"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Info

### Current Behavior

on https://pancakeswap.finance/info/pools there are two different tab systems.
![image](https://user-images.githubusercontent.com/71833681/133567940-e81f907c-69d2-4f8d-b008-3893ef01205e.png)
(note the sub-menu doesn't cover all of info, only /info/pools/)

### Expected Beha

[2021-09-16 08:15] #2198 closed

[2021-09-16 09:08] memoyil commented on #2199
@Chef-Chungus I checked again,  It only doesn't work on desktop firefox, I tried in firefox mobile and it works. I am closing the issue

[2021-09-16 09:08] #2199 closed

[2021-09-17 01:00] ahmadSS85 opened #2229 "0x3EA21b58B8F73bB70A8df9Fb4528246668BAE46E"
From
0x52dCF5BEdc061604D8C592B0079A0FF2ceA22eB7

[2021-09-17 01:50] #1891 closed

[2021-09-17 04:38] chenxsan opened #2230 "[BUG] tap on modal would click the link below the modal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Other

### Current Behavior

Let's say we are now at the screen below:

<img src='https://user-images.githubusercontent.com/1091472/133725049-5e6caa24-0d82-4b8e-8b4c-d939452509fa.png' width='300' />

Clicking the rectangle area would both dismiss the modal and open that link.

### Expected Behavior

C

[2021-09-17 08:42] memoyil commented on #2201
Issue has fixed via https://github.com/pancakeswap/pancake-toolkit/pull/284. I am closing it

[2021-09-17 08:42] #2201 closed

[2021-09-18 06:27] ngthtung commented on #2165
It's turn out I have a problem when config function pair address. So I need change init code hash in my custom, and it's work fine.
I will close this issues

[2021-09-18 06:27] #2165 closed

[2021-09-19 01:47] #1883 closed

[2021-09-19 19:33] nghianguyen119 commented on #2046
@Chef-Cheems If you plan to decentralize Pancake's interface, Crust Network team (including CTO) are willing to have a meeting with you. They have worked in this sector for more than three years (one of their products is decentralized pinning service of IPFS - the mainnet is live), so they have a better overview about decentralizing web-app than me.

I find that Pancake also uses IPFS for the NFT,

[2021-09-20 20:20] dickydez opened #2272 "I can't clone the files without getting a ton of errors"
'react-scripts' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! pancake-frontend@0.1.0 start: `react-scripts start`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the pancake-frontend@0.1.0 start script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above

[2021-09-20 20:21] dickydez commented on #2272
I am a rookie coder but any help would be nice

[2021-09-20 20:55] dickydez commented on #2272
npm WARN deprecated cids@1.1.9: This module has been superseded by the multiformats module
npm WARN deprecated multicodec@2.1.3: This module has been superseded by the multiformats module
npm WARN deprecated popper.js@1.16.1: You can find the new Popper v2 at @popperjs/core, this package is dedicated to the legacy v1
npm WARN deprecated multicodec@3.2.1: This module has been superseded by the mult

[2021-09-21 01:14] #2272 closed

[2021-09-21 02:37] rully-saputra15 opened #2275 "is it possible to edit the component with my design ?"
i just need edit full one page in this project

[2021-09-22 08:00] Jds-23 opened #2296 "[BUG] There are two scroll bars appearing in select tokens modal."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Other

### Current Behavior

![Screenshot (219)](https://user-images.githubusercontent.com/67229156/134304826-d48140eb-4eaf-458e-a0a0-d9b2fec87048.png)

### Expected Behavior

Outer scroll bar should be hidden.
![image](https://user-images.githubusercontent.com/67229156/134305063-7776aa1a-3fd6-442e-83

[2021-09-22 08:01] Jds-23 commented on #2296
I found the fix will be uploading a fix in a moment.

[2021-09-22 11:40] rully-saputra15 commented on #2275
is anyone know the answer?

[2021-09-22 18:21] mobin-ux opened #2307 "[BUG] <Network error>"
I get a network error while executing the `yarn start` command

`Unhandled Rejection (Error): could not detect network (event="noNetwork", code=NETWORK_ERROR, version=providers/5.4.1)`

  393 | this.emit("debug", {
  394 |     action: "response",
  395 |     error: error,

      | ^  397 |     provider: this
  398 | });
  399 | throw error;

[2021-09-24 13:15] #2296 closed

[2021-09-24 17:21] ChefNina opened #2327 "[BUG] Prediction: The results on house round shown differently between card panel and history tab"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Prediction

### Current Behavior

It's shown "TO BURN" on card panel
![image](https://user-images.githubusercontent.com/82930772/134713799-c27c3209-f646-4482-8967-056fb070c4b2.png)

It's shown green "+{numbers}" on history tab, hence users think they won the round. However it isn't because it's house

[2021-09-25 14:52] hashitha opened #2334 "[Feature Request] Harvest to a different wallet"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem you are facing?

It would be great if we could collect the cake to a different wallet address instead of going to the same wallet.

### Describe the solution you'd like

Have the option to enter in an address when harvesting

### How does this feature benefit Pancak

[2021-09-26 06:05] eduardobcastro opened #2339 "Missing multiple pools for currency pair"
I would like to add liquidity to a currency pair but the existing pool contains less than $1 and its price is totally wrong. I think the solution is creating a pool with the ratio I want.

[2021-09-27 01:46] #1914 closed

[2021-09-27 05:18] tontheonelove opened #2350 "NETWORK_ERROR"
I see  this error when fork  and yarn start    please help

**Unhandled Rejection (Error): could not detect network (event="noNetwork", code=NETWORK_ERROR, version=providers/5.4.1)**

Logger.makeError
C:/Users/xxx/Desktop/src.ts/index.ts:213
Logger.throwError
C:/Users/xxx/Desktop/src.ts/index.ts:225
JsonRpcProvider.<anonymous>
C:/Users/xxx/Desktop/src.ts/json-rpc-provider.ts:396
  393 | this.emit(

[2021-09-28 00:52] #2214 closed

[2021-09-28 04:05] tontheonelove opened #2371 "[BUG] <UNSUPPORTED_OPERATION>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Other

### Current Behavior

I fork and   yarn start   and error when connect metamask

Unhandled Rejection (Error): unknown account #0 (operation="getAddress", code=UNSUPPORTED_OPERATION, version=providers/5.4.1)

### Expected Behavior

When Connect Metamask  will get issue

Unhandled Rejection (Erro

[2021-09-29 04:22] nsalvato1996 opened #2393 "[BUG] Contract Wont Stay Enabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Farms

### Current Behavior

When only showing one farm it will remember that I approved the transaction. However, when I have more than one farm active it will only approve the one that has my main token in.

### Expected Behavior

remember that my address approved

### Steps To Reproduce

Right out

[2021-09-29 04:31] nsalvato1996 commented on #2393
https://github.com/nsalvato1996/pancake-frontend/tree/BranchingWithErrors

[2021-09-29 04:32] nsalvato1996 commented on #2393
Token:
0xaA1848D4fB008A92279cA214aAB807F89c5c53a1

MasterChef:
0xe47452eec340859676De45DAA810EEBaADFCB413

ElementBar:
0x5f6B39A3A03EB10f7EB3f8963018afB2f7a4CaF7

Factory:
0xC01CD32F7cFf3A1913a9cD6743E86d3c5ACA362f

Router:
0x97a9f620468DA8018Ac11E594816b87d5cE8FCF5

ELEMENT-BNB:
0x2f3f4089e817c5ba19803f87df8ef5adfb2f0256

BUSD-BNB:
0x9d0628bc2099e526d26faeaca8af3cd2188a137a

[2021-09-29 04:32] nsalvato1996 commented on #2393
Contracts are all verified on bscscan.com

[2021-09-29 06:44] dxblouie opened #2395 "[BUG] Uncaught Exception Fetching data of Pools"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Info

### Current Behavior

Pools and Token Info pages fail to load data, and developer console repeatedly shows an uncaught exception
[code]

### Expected Behavior

Page should populate and load pool data

### Steps To Reproduce

1. go to https://pancakeswap.finance/
2. click on ...
3. click on info

[2021-09-29 07:06] ethdevss opened #2396 "[BUG] the graph bnb price"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Info

### Current Behavior

When importing bnbPrice through bundle, data is imported by filtering by block, but the block property does not exist in the current latest version of the graph bundle schema.

The bundle schema provided by bsc.streamingfast is different from the bundle schema provided by t

[2021-09-29 07:41] #2396 closed

[2021-09-30 08:39] ChefKai commented on #2395
This bug is dependent on TheGraph and the `Blocks` subgraph, it's being working on

[2021-09-30 10:02] dxblouie commented on #2395
Thank you @ChefKai
do you have their bug reports handy?
also is this global affecting all pools/tokens? or is there a workaround?

You guys are awesome.. thank you :)

[2021-10-01 11:24] ChefKai commented on #2395
No we don't, this was a localized issues with a few subgraphs hosted on `bsc` network. It has been restarted, blocks have synced to head, and .info is working again! Thank you for opening the issue! 🎉

[2021-10-01 11:24] #2395 closed

[2021-10-03 02:10] #2024 closed

[2021-10-03 02:10] #1881 closed

[2021-10-04 03:29] Nikhil1419 commented on #2006
Use Yarn instead!!

[2021-10-05 00:08] Jokers-Exchange commented on #2025
+1

[2021-10-05 00:08] Jokers-Exchange commented on #2025
Having the same problem here and I can't seem to fix it.

[2021-10-07 06:04] wyimcrypto opened #2476 "[BUG] Connection with WalletConnect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Other

### Current Behavior

I tried to connect with Wallet Connect to my mobile app(e.g. Metamask mobile, Argent)
My app shows the pop up for approval, then after I approved, the dialog of QR code of Wallet Connect is hidden.

However, the state of the app is still not connected. Top right still show

[2021-10-10 07:48] lawweiliang opened #2495 "Pancakeswap documentation is returning 404"
Hi Admin,
Something wrong with your documentation page.
![image](https://user-images.githubusercontent.com/34936929/136687246-c1a5e729-5986-4895-ba64-08f3ccfdcaf9.png)

[2021-10-10 09:35] CRuzylo commented on #2025
Curious how?

[2021-10-10 11:10] ChefNina commented on #2495
Hi @lawweiliang , @philiparthurmoore
Thanks for raising the issue ticket. It is working fine for me too now, so let me close this ticket.
From next time, please create the doc-relevant issue tickets in doc repository.
https://github.com/pancakeswap/pancake-document/issues

[2021-10-10 11:10] #2495 closed

[2021-10-10 12:32] lawweiliang commented on #2495
I see, I think the website is under maintenance just now. Thanks @ChefNina @philiparthurmoore .
Both of you are super efficient. Love it. Thanks

[2021-10-14 00:00] sharp2448 opened #2520 "[BUG] Token showing up as "unknown" in the analytics page."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Info

### Current Behavior

The token name for my token on the analytics page are displayed as "unknown". Also the price doesn't match.
![image](https://user-images.githubusercontent.com/30528303/137228491-387bceee-2b29-42b8-9e0d-abc6e7d7cdfb.png)

https://pancakeswap.finance/info/token/0x43a0c5eb1763

[2021-10-14 09:51] Waltarb opened #2525 "estimateGas failed removeLiquidityETHWithPermitSupportingFeeOnTransferTokens"
posted about this issue in a closed issue #1455 but it got drowned and never solved

![image](https://user-images.githubusercontent.com/19947202/131843840-5644f8d8-f550-41c8-a48a-99744efdf89b.png)
same problem here have been trying this for months now, same problem when I try with wbnb/high slippage or through the pancake router contract manually..

_Originally posted by @Waltarb in https://github

[2021-10-14 11:10] dannyc2702 opened #2527 "front end giving error in arch linux with firefox and node v16.10.0 and npm 7.24.1"
Failed to compile.

src/components/ExpandableSectionButton/ExpandableSectionButton.tsx
  Line 36:3:  defaultProp "expanded" has no corresponding propTypes declaration  react/default-props-match-prop-types

src/components/Modal/ModalInput.tsx
  Line 13:3:  'placeholder' PropType is defined but prop is never used  react/no-unused-prop-types

src/components/PageSection/CurvedDivider.tsx
  Line 7:3:

[2021-10-15 02:11] #2034 closed

[2021-10-15 05:23] Squiji commented on #2126
I’m still having this issue, is there a fix stated somewhere?

[2021-10-15 12:38] Ranofty commented on #431
Hello Please I have a problem with my farms and pools i change my MasterChef I put pids in the masterChef is displaying Percentages but not approving Please someone should help me out 🥺🙏

[2021-10-15 12:39] Ranofty commented on #422
Hello Please I have a problem with my farms and pools i change my MasterChef I put pids in the masterChef is displaying Percentages but not approving Please someone should help me out 🥺🙏

[2021-10-15 20:24] ChefNina commented on #2520
@sharp2448
This issue has been resolved. Please cross check at your end.

[2021-10-16 02:57] Boubzer opened #2539 "Error "Buy: Incorrect price" when using buyTokenUsingBNB function ?"
Hi Chef,

I'm trying to interact with the NFT market contract but my transaction keeps failing with the "Buy: Incorrect price".

Here's my code in javascript with ethers module :

    transaction.collection,
    _tokenID,
    {
      'gasLimit': transaction.gasLimit,
      'gasPrice': transaction.gasPrice,
      'nonce
  });

Any idea of something wrong ?
It works when I interact with the contract

[2021-10-16 04:04] #2539 closed

[2021-10-16 04:04] Boubzer commented on #2539
Was missing _price

[2021-10-18 12:59] #2520 closed

[2021-10-19 20:42] yamashi opened #2557 "[BUG] Dropdown menus can’t be clicked using iPad"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Other

### Current Behavior

When clicking on a drop down menu using Safari on iPad, the drop down menu appears but pressing on the menu makes it disappear and does not trigger a link click making it impossible to use items in the drop down.

### Expected Behavior

Links in drop down menus can be clic

[2021-10-20 02:33] R-K-H commented on #2046
Vote for keeping this issue open.

[2021-10-20 04:39] yonger1516 opened #2558 "always staying at confirming "set your name""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Other

### Current Behavior

always staying at confirming "set your name" more than for 12 hours

### Expected Behavior

success to confirm and complete profile activation

### Steps To Reproduce

setup profile

### Environment

[code]

### Anything else?

_No response_

[2021-10-22 02:25] R-K-H commented on #2109
Would like to keep this open until addressed.

[2021-10-24 10:31] vanhop1998 opened #2578 "I Failed to compile"
![image](https://user-images.githubusercontent.com/36785890/138590078-ce97d5a9-a245-4b09-b295-57eee71ef32f.png)

[2021-10-25 13:05] Chef-Cheems opened #2580 "Refactoring: fetch status enums"
Right now we have several enums throughout the app that do basically the same thing - indicate whether or not something is IDLE, LOADING, LOADED or FAILED.
For some reason we never standardized this behavior so there are lots of duplicated enums that do the same thing but defined in multiple different files and have different names for statuses.

Would be great to update all this to have 1 standar

[2021-10-29 11:47] jcosta191 opened #2612 "Share NftSale Contract"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem you are facing?

Yes

### Describe the solution you'd like

I like to know why you not NftSale contract to all the community that try to help you all days with pull requests. Please team i'm not judging you but can you please share the smart contract code from NFTSa

[2021-10-30 10:18] yegor256 opened #2616 "execution reverted: TransferHelper: TRANSFER_FROM_FAILED"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Farms

### Current Behavior

Trying to swap SQUID to BNB

### Expected Behavior

Successful swap

### Steps To Reproduce

I just click "swap", select the amount, and get the error. While I see other successful transactions in the pool with the same token: https://pancakeswap.finance/info/token/0x87230

[2021-10-30 17:25] memoyil commented on #2616
Have you tried to increase the slippage?

[2021-10-30 20:15] #2616 closed

[2021-10-31 01:47] #2371 closed

[2021-10-31 15:01] yonger1516 commented on #2558
![image](https://user-images.githubusercontent.com/6733760/139589691-cb57fd65-3d95-4b7a-9b3e-b57dc97b9e31.png)

[2021-10-31 15:34] memoyil commented on #2558
Can you refresh your page and go to the set name step again and paste your username at one go (instead of typing it).

[2021-10-31 21:46] hutber opened #2617 "[BUG] Lottery - Please try again. Confirm the transaction and make sure you are paying enough gas!"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Lottery

### Current Behavior

When trying to purchase 20+ tickets I will receive the error
![image](https://user-images.githubusercontent.com/1344898/139602191-4f19c414-74c4-4f34-b0c9-c6a515f6b684.png)

### Expected Behavior

I am able to buy any number of tickets

### Steps To Reproduce

Hold more t

[2021-10-31 22:10] hutber commented on #2617
I realised, I only have `0.0126 BNB` left in my wallet. So this could be the issue. Even though the error message is misleading to that.

So deposited more BNB into my wallet and can confirm the transaction was fine after this. So I guess better error messages?

[2021-11-01 05:16] yonger1516 commented on #2558
pasting username didn't works too.  Any other workarounds to resolve it  ?

[2021-11-01 05:33] memoyil commented on #2558
Which browser are you using?

[2021-11-01 08:19] tao2581 commented on #2616
It's a scam token

[2021-11-01 11:26] yonger1516 commented on #2558
chrome with latest version

[2021-11-01 16:05] Kwaskoff opened #2620 "Where is testnet version?"
Hi, guys. Some months ago I use pancakeswap in BSC testnet, but right now it can't be switched. Is it bug or you deployed testnet version on another domain?

[2021-11-01 18:45] jcosta191 commented on #2612
Im talking about this contract: 0x29fE7148636b7Ae0b1E53777b28dfbaA9327af8E

[2021-11-02 10:30] bariOmymen commented on #2580
hello. I found enums that have loadingStatus and these enum have states as LOADING and LOADED and also found fetchStatus enums with states as FETCHING and FEATCHED.
so I a couple of questions:
are fetchStatus and loadingStatus have the same uses? if yes, do we change LOADING and LOADED states to FETCHING and FETCHED? because I think this will result in 1 standard FetchStatus enum.
do we locate the

[2021-11-02 11:48] Chef-Cheems commented on #2580
Yeah, I believe the use case for all of them is the same. let's rename `LOADING` & `LOADED` = to => `FETCHING` & `FETCHED`. 🙂
I think `src/config/constants/types.ts` is a good place for such enum. Most loading stuff is in `state` but I believe there were couple of places outside of state where we use it. Need to check.
In any case if during the move we find out that its only in `state` then we can

[2021-11-02 12:33] bariOmymen commented on #2580
Thank you for clearing that up

[2021-11-03 13:09] hobbydev71 opened #2633 "Compile Error, ReactMarkdown/styles.tsx(48,12)"
I got this issue while compile the project.
[code]

[2021-11-04 01:47] #2393 closed

[2021-11-04 13:43] #2558 closed

[2021-11-04 17:18] memoyil commented on #2633
do yarn install

[2021-11-05 17:02] ClemFournier opened #2645 "[BUG] Redux getDefaultMiddleware function is depreciated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Other

### Current Behavior

middleware: [...getDefaultMiddleware({ thunk: true }), save({ states: PERSISTED_KEYS })],

### Expected Behavior

middleware: (getDefaultMiddleware) => [...getDefaultMiddleware({ thunk: true }), save({ states: PERSISTED_KEYS })],

### Steps To Reproduce

Go to state/index.

[2021-11-06 08:59] Alferdize commented on #2520
Token Shown up as "Unknown". My token address https://pancakeswap.finance/info/token/0xc36ce2209f1824c47bb9a6c40b43a5326a0f5c0a

[2021-11-06 09:07] Alferdize opened #2647 "[BUG] Token showing up as "unknown" in the analytics page."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Info

### Current Behavior

The token name for my token on the analytics page are displayed as "unknown". Also the price doesn't match.
https://pancakeswap.finance/info/token/0xc36ce2209f1824c47bb9a6c40b43a5326a0f5c0a

### Expected Behavior

Show the correct name of token and right price.

### Steps T

[2021-11-06 12:32] julian-molina commented on #2647
Same issue with our token too. Any help will be greatly appreciated!

Superalgos $SA contract:

0xfb981ed9a92377ca4d75d924b9ca06df163924fd

Token page:

https://pancakeswap.finance/info/token/0xfb981ed9a92377ca4d75d924b9ca06df163924fd

Our liquidity pools are a few weeks old, and still the token page shows the "unknown" label.

[2021-11-06 15:51] bariOmymen commented on #2580
hey @Chef-Cheems. I'm having an issue with eslint and prettier when I try to commit my changes.
this is the error
yarn run v1.22.17
$ prettier --check '**/*.{js,jsx,ts,tsx}'
Checking formatting...
[error] No files matching the pattern were found: "'**/*.{js,jsx,ts,tsx}'".
All matched files use Prettier code style!
error Command failed with exit code 2.
info Visit https://yarnpkg.com/en/docs/cli/ru

[2021-11-06 17:02] bariOmymen commented on #2580
i fixed this issue, i didn't give myself time to think

[2021-11-08 10:34] Chef-Cheems commented on #2580
Are you on windows? We have this PR (https://github.com/pancakeswap/pancake-frontend/pull/2544) hanging around but I don't have Windows machine to test at the moment. 😬
Maybe try to see if changes in that PR solve your problem.
If you're on windows of course, if you're on Mac/Linux then idk what's up with that 🤔

What was the fix?

[2021-11-08 11:45] bariOmymen commented on #2580
i deleted single quotes in the package.json file in the yarn commands that i needed

so from '**/*.{js,jsx,ts,tsx}' to **/*.{js,jsx,ts,tsx}

[2021-11-08 20:36] julian-molina opened #2651 "[BUG] Token page showing price at 0 and name "unknown""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Info

### Current Behavior

[Issue 2647](https://github.com/pancakeswap/pancake-frontend/issues/2647) reports a similar issue with another token, but in that case there seems to be zero liquidity in the pool.

# My issue

The [token info page](https://pancakeswap.finance/info/token/0xfb981ed9a92377ca4

[2021-11-08 20:49] julian-molina commented on #2651
@ChefNina I see you solved a similar issue a few weeks ago. Can you maybe help me with my case?

[2021-11-08 22:45] ColtraneNadler opened #2652 "[BUG] Multicall RPC Error (FTM chain)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Other

### Current Behavior

Forked pancakeswap for FTM chain, and I get this error frequently. Some of the calls work, some don't.

inpage.js:1 MetaMask - RPC Error: Internal JSON-RPC error.
{code: -32603, message: 'Internal JSON-RPC error.', data: {…}}
code: -32603
data: {code: -32000, message: 'exe

[2021-11-09 09:26] JamesKBowler opened #2653 "How to get the production server running?"
When I do `yarn start` it runs the development server, but how do I run the production server?

`yarn build` gives this but does not start the production server.

Thanks

[code]

[2021-11-09 09:33] JamesKBowler commented on #2653
Oh forget to mention I did try running
[code]
but that didnt work.. however just rebooted the server and its work?!?

Anyway, closing this off.

[2021-11-09 09:33] #2653 closed

[2021-11-10 01:45] #2476 closed

[2021-11-10 02:12] Combot80 commented on #2651
Hello apology for the delay has your issues been resolved yet?

[2021-11-10 11:30] bariOmymen commented on #2645
@Chef-Cheems may I ask why this issue isn't closed yet, the fix seems to be simple and I'd be glad to help

[2021-11-10 11:43] julian-molina commented on #2651
No, it hasn't. The issue persists.

[2021-11-10 18:09] ClemFournier commented on #2645
@bariOmymen @Chef-Cheems I'd like to help, I just don't know if I'm able to do a pull request?

[2021-11-10 23:33] Combot80 commented on #2651
Which wallet are you using?

[2021-11-10 23:35] Combot80 commented on #2652
Hello apology for the delay has your issues been resolved yet?

[2021-11-10 23:56] Combot80 commented on #2651
Okay, I'm here to support you

[2021-11-10 23:57] Combot80 commented on #2651
You will need to reauthenticate your wallet to the latest node system but before that you will have to open a support ticket through our support ticket link

[2021-11-10 23:57] Combot80 commented on #2651
Do you know how to do that?

[2021-11-11 00:52] matbrgz opened #2663 "[Feature Request] Truncate Large Number"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem you are facing?

When a token has huge supply, sometimes the frontend could break because the number is too large to display.

### Describe the solution you'd like

Truncate the number instead of exiting 1.000.000.000.000 show 1T.

More examples:

9.900.000.000 show

[2021-11-11 08:47] julian-molina commented on #2651
This has nothing to do with wallets. It's PancakeSwap's website.

@Chef-Chungus @ChefNina would love to hear from you.

BTW, this @Combot80 account seems like a scam.

[2021-11-11 11:37] Combot80 commented on #2651
Okay then those who u mention will come help u

[2021-11-11 22:25] alexndr-n opened #2665 "[BUG] Failed to compile: 'pollingInterval' does not exist in type 'WalletConnectConnectorArguments'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Other

### Current Behavior

Hey! When trying to build this typescript error arises. I've checked the files and effectively the parameter types are entirely wrong inside of this file. This is the complete error.

[code]

### Expected Behavior

It builds.

### Steps To Reproduce

Clone the repository.

[2021-11-11 22:38] alexndr-n commented on #2665
Wait, let me try master branch.

[2021-11-12 01:45] #2025 closed

[2021-11-13 12:13] danp963 opened #2671 "Compile issues on master branch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

Other

### Current Behavior

Clone pancake-frontend repo

Yarn
Yarn start

Multiple ES Lint issues.
If ES Lint is disabled there
![Screenshot 2021-11-13 120738](https://user-images.githubusercontent.com/94201729/141643243-348942a7-8dab-45d1-a90e-774fba61cc1b.png)
 are multiple typescript issues

### E

[2021-11-13 13:13] memoyil commented on #2671
You should do `yarn install` before `yarn start`

[2021-11-13 13:15] danp963 commented on #2671
I did do yarn install before yarn start, still does not work on Windows.

It does however work fine on my mac.

[2021-11-13 14:04] BabyLowb opened #2672 "A development problem in .env.development file"
Thank you very much for the open source code of the service "react_app_api_nft" in. Env.development. I've been looking for it for a long time. I don't know which one to use
     REACT_APP_API_NFT = "https://nft.babyloser.com/api/v1"   this open source code ?

[2021-11-13 16:35] BabyLowb opened #2673 "Where is the open source code for nft_pancakeswap_com/api/v1/？？"
Where is the open source code for nft_pancakeswap_com/api/v1/？

[2021-11-14 07:10] savcrypto0 commented on #2651
any progress on this one?
I also experience the same issue
https://pancakeswap.finance/info/token/0x235d2ffd66dbdcd94ec711eb1f565c3e69eada48

[2021-11-14 07:13] savcrypto0 commented on #2647
same issue for me
https://pancakeswap.finance/info/token/0x235d2ffd66dbdcd94ec711eb1f565c3e69eada48

Please advise, very urgent for me

[2021-11-14 10:11] julian-molina commented on #2651
I haven't heard from anyone yet. Tried multiple channels (Reddit, Telegram, Twitter). Please let me know if you get a hold of anyone and I'll do the same.

[2021-11-14 11:34] Luis-Fernando-Molina commented on #2651
@pancakeswap can you please check on this issue? We are launching our platform tomorrow (Monday) and this the only unresolved issue we have. Please!

[2021-11-15 05:32] FantasyJays opened #2674 "Template"
Looking for someone to help me create a DEX and Casino on BSC. I got a really great idea that I think could help push the DEX into one of the most used DEX

[2021-11-15 13:09] julian-molina commented on #2651
@memoyil @Chef-Cheems Can you please give us a hand with this? Even a pointer on how to fix the issue would be greatly appreciated.

[2021-11-15 13:58] R-K-H commented on #2651
This has to do with the Subgraph index on The Graph, not PancakeSwap. So you'd best research there to see if you can contribute to the indexing of the Subgraph so that the data is there in the first place.

[2021-11-15 14:16] Luis-Fernando-Molina commented on #2651
hey @R-K-H  , can you please elaborate on your comment? What is the Graph?

As far as I know this is PancakeSwap web site, and the site is not showing the token name or logo. How is that not related to PancakeSwap?

![image](https://user-images.githubusercontent.com/9479367/141796864-34b354c0-57a3-48a0-b068-5ade7808063d.png)

[2021-11-15 15:26] R-K-H commented on #2651
Look at your network tab to see which request is failing to load the data:

<img width="1144" alt="Screen Shot 2021-11-15 at 10 20 06 AM" src="https://user-images.githubusercontent.com/1007667/141807245-9d4c91be-5ee4-4dac-b413-b603feb1b17c.png">

Then look at the error message returned from the API:

<img width="834" alt="Screen Shot 2021-11-15 at 10 20 59 AM" src="https://user-images.githubuserco

[2021-11-15 15:42] R-K-H commented on #2651
You can read about how to get tokens listed and iconography etc https://docs.pancakeswap.finance/contact-us/business-partnerships as well as submitting a PR to https://github.com/trustwallet/assets the PCS team is not responsible for listing every token and every project on the blockchain so the elements that build a decentralized exchange all culminate across multiple sources and partners.

[2021-11-15 15:46] Luis-Fernando-Molina commented on #2651
@R-K-H thanks for the clarification! will check it out now.

[2021-11-15 22:14] Luis-Fernando-Molina commented on #2651
@R-K-H the token name issue was resolved and the logo now we know we need to pay to trust wallet to get them there, and then at pancake swap.  Thanks for your help.

Feedback to Pancake swap guys: Using the logos from Trust Wallet is a bad idea. We have chosen you as our first exchange listing, not trust wallet. Having to pay a third party to get a logo into you is not rational and dilutes the tru

[2021-11-17 01:45] #2525 closed

[2021-11-17 03:58] bossbossk20 opened #2694 "[BUG] IFO PORTO Claim button is missing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Product

IFO

### Current Behavior

Unable to claim IFO PORTOR in basic sale because claim button is missing
<img width="361" alt="Screen Shot 2564-11-17 at 09 53 24" src="https://user-images.githubusercontent.com/8810501/142131733-09220c56-774d-448b-a718-3596916bc94a.png">

### Expected Behavior

claim button